[2016-06-27 07:23] JMacLulich commented on #888
Another thing is that if there is an error because of `PropTypes` not being satisfied the component fails to instantiate.

Why are _all_ errors being treated as the same error?

Is this something to do with hot reloading? If I were to compile this normally without hot loading would I get an error saying that `PropTypes` was not being satisfied rather than `Warning: React.createElement: type s... `

[2016-06-27 13:01] eduards commented on #888
Agree. Hopefully, this will be fixed soon. This decreases the productivity enormously as there is no indicator where an error is (Syntax error? Missing state variable? Wrong import? etc...)

[2016-06-27 13:10] davezuko commented on #888
This is something that would have to be fixed on the webpack or babel level, since they are responsible for building the dependency tree and importing all of the modules. If somebody knows of a plugin or configuration option to switch on, I'd love to do so, but I really don't think there is much we can do.

We do have ESLint, but there's a limit to how much we can control. If you do want to get ri

[2016-06-27 13:11] davezuko commented on #885
It's just an error, thank you for pointing this out.

[2016-06-27 13:23] eduards commented on #888
Even with TypeScript or other static type checkers, the problem remains that we do not have any indicator for runtime errors. E.g. just adding `console.log(foo.bar);` somewhere in your code results in the pretty non-saying error
[code]
instead of something like `Uncaught ReferenceError: foo is not defined`

[2016-06-27 13:25] davezuko commented on #888
Ok, I think I see the problem, that the issue totally unrelated to React but is still causing those render errors. @JMacLulich 's idea sounds correct that it could be related to the HMR setup. I'll dig into this ASAPly.

[2016-06-27 14:34] tlaak commented on #862
This problem also exists on a Mac. There is a workaround (https://github.com/webpack/style-loader/pull/96#issuecomment-228370602), but I'm haven't managed to get it to work with this starter-kit.

[2016-06-27 15:24] jarohmh commented on #887
BTW, class based components also can be called dumb as long as they don't play with state and can be easily reusable in any other (event not redux based) environment.
It's false thinking that only functional components are dumb, so if you need `componentDidMount` type of features, go for class based components, everything will be fine ;)

[2016-06-27 18:52] ericwooley commented on #734
@mccambridge A pr was just merged. But it didn't auto close this issue for whatever reason. Maybe it's good to keep this open because the new blueprints could definitely be improved.

[2016-06-27 19:49] amrit92 commented on #819
I am facing the same issue and looking for a solution. Can anyone point to solution for SSR using this starter-kit specifically? @trungpham  Can you show an integration?

[2016-06-27 20:07] web2style commented on #819
I'm using v2.0 of this starter kit. It doesn't use code splitting, so this could be the point. But I don't have any problems with indexing by google. I generate sitemap.xml and all the pages are indexed without any problems.

[2016-06-27 21:48] rkmax opened #889 "Full example of router"
I'm a bit lost regarding this topic. may someone show me a full example of router example in a single screen

[2016-06-27 22:21] JMacLulich commented on #888
Thanks @eduards and @davezuko I'm pretty sure its got something to do with HMR.

Because once you're past errors in loading the first page of your app and can start clicking on links (route transitions) to take you to components with errors you start getting the more familiar React errors I'm used to -- like failed props and other things.

If I then modify the page and hot reload the changes I get

[2016-06-28 01:52] patrickgordon commented on #848
FWIW I'm also getting similar issues. CPU % for node jumps to 100-120 % as soon as I do `npm start`

[2016-06-28 02:56] patrickgordon commented on #848
I did a
`rm -rf node_modules`

and
`npm install`

and this appears to have resolved my issue...

[2016-06-28 07:06] EwanValentine commented on #872
@davezuko I'm still having issues with this, not just in the same codebase, either. I've got a dummy project at https://github.com/EwanValentine/comchan if you look in `./ui/src/routes/Home/components/HomeView.js` I've imported a .scss file like... `import './HomeView.scss` however, the styles aren't applied. When I import them as `import classes from './HomeView.scss` they do work.

This would be

[2016-06-28 07:19] EwanValentine commented on #872
Note... https://github.com/EwanValentine/comchan/blob/master/ui/src/routes/Home/components/HomeView.js#L14

On this line, this text isn't displayed in red

[2016-06-28 07:25] kolpav commented on #889
Do [these](https://github.com/reactjs/react-router-tutorial/tree/master/lessons/01-setting-up) then read [this](https://github.com/reactjs/react-router/blob/master/docs/guides/DynamicRouting.md) and you are react router guru in no time

[2016-06-28 12:03] navidmesbah opened #890 "Saga"
Any plan to migrate to Sagas?

[2016-06-28 12:27] davezuko commented on #890
I don't really see the need, to be honest. Sagas are great, so it's nothing against them; my rationale is instead that this project is not meant to be an example application (if I could remove the entire counter example I would). I think it makes sense for people to follow the learning process of redux from synchronous action creators, to thunks (and why they're useful), to sagas and beyond. I'd m

[2016-06-28 12:29] davezuko commented on #889
Thanks @kolpav . Closing since this is a more appropriate question for react-router's [discord channel](https://discordapp.com/invite/0ZcbPKXt5bYaNQ46) or our [gitter](https://gitter.im/davezuko/react-redux-starter-kit?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge).

[2016-06-28 12:29] #889 closed

[2016-06-28 12:31] davezuko commented on #872
Hmmm, looking.

[2016-06-28 12:32] davezuko commented on #872
https://github.com/EwanValentine/comchan/blob/master/ui/config/index.js#L35 Did you try turning this to `false`?

[2016-06-28 12:33] EwanValentine commented on #872
@davezuko Yeah it does work when you turn that off, but then you can't use `import classes form './Etc.scss'` is it a case of you can use either one or the other?

[2016-06-28 12:56] davezuko commented on #872
Realistically, you can only have one sort of setup per filetype. You _could_ wrap your global classes in:

[code]

And that _should_ work, since that tells it to insert the class into the global scope. However, I'd really recommend sticking with one system or the other, either use purely CSS modules with composition, or purely use regular sass, since I can image it being super tricky otherwise. Yo

[2016-06-28 12:58] EwanValentine commented on #872
Okay great, thanks for all your help! :) That makes sense

Thanks for your work on this repo as well, it's been massively useful!

[2016-06-28 12:58] #872 closed

[2016-06-28 12:59] davezuko commented on #872
No problem, good luck!

[2016-06-28 13:09] rkmax commented on #889
thanks @kolpav

[2016-06-28 13:18] nie-xin commented on #880
@golgistudio Thank you for your push. I found that we could do that a bit simpler:

1. Change compiler_public_path to subfolder path, for example '/sub/'
2. Pass same BASENAME on npm compile, just like this: BASENAME='/sub/' npm run deploy:prod

And you shall get script route complied correctly that will work on subfolder.

@davezuko Since many people hosting app on sub folder, do you think it wor

[2016-06-28 13:18] #880 closed

[2016-06-28 13:48] rkmax commented on #889
@kolpav in the past I used the router using JSX syntax but I'm still confused with this new syntax basically I'm trying yo doing
[code]
but I dont get the getChildRoutes, getIndexRoute, and getComponents methods

[2016-06-28 14:05] davezuko commented on #888
Maybe this will light a fire under me to try to get the new react hot loader setup working finally.

[2016-06-28 14:06] davezuko commented on #885
Fixed: https://github.com/davezuko/react-redux-starter-kit/commit/a8cef9323868d5da5f6686cde66606a0fd54542f

[2016-06-28 14:06] #885 closed

[2016-06-28 14:10] davezuko commented on #888
It definitely is the current hot reload setup, since if you disable it the errors display correctly. Working on this now.

[2016-06-28 14:46] rkmax opened #891 "browserHistory.push(...) only change the location but doesn't update"
If I navigate directly to `/my-path` it works but I need go programmatically

so I'm using the following

[code]

the url change but nothing is updated

[2016-06-28 14:52] davezuko commented on #888
WIP branch for RHL 3 here: https://github.com/davezuko/react-redux-starter-kit/tree/feature/react-hot-loader-v3. It doesn't play well with react-router and async routes, it seems, so right now it isn't actually doing anything different than what exists now, _but_ the annoying React issue is fixed... so it may be worth checking out.

[2016-06-28 15:10] shredding opened #892 "How to enable sourcemaps"
I'm new to the package and really like it, but I have one major problem: Whenever an error occurs in my code it says

[code]

... in the console log with a link to the compiled javascript, somewhere where it has nothing to do with my code, leaving me guessing where the problem is.

How do I enable sourcemaps in chrome and make the error actually show where something goes wrong?

I'm able to set br

[2016-06-28 16:05] CatVas opened #894 "better-npm-run: Permission denied"
My OS is Ubuntu 14.04 LTS. I have got an error when trying to run "sudo npm start". Here is the screenshot: http://joxi.net/krDxLR0S0n5VGr

It says "**better-npm-run: Permission denied**". Some failure with "better-npm-run start" script.
code ELIFECYCLE, exit status 126.

Please help, how to solve it?

[2016-06-28 23:32] jnarowski commented on #888
+1 for this fix.

It's cost me a lot of time today to have this unhelpful error message. Can we disable HMR and get our normal errors back?

[2016-06-28 23:53] davezuko commented on #888
@jnarowski until I get that branch merged you can just uncomment https://github.com/davezuko/react-redux-starter-kit/blob/master/src/main.js#L59-L74. This is very much in limbo right now, unfortunately.

[2016-06-29 00:04] jnarowski commented on #888
Thanks. I guess I don't quite get it. I gutted all the HMR and hot reloading stuff and still got the invariant message for a simple intentional syntax error after doing a full reload. Does this have to do with React?

[2016-06-29 00:10] davezuko commented on #888
I'm still troubleshooting it myself, honestly, so not entirely sure. The whole hot reloading ecosystem seems to be up in the air right now, at least from my point of view, as we've now gone from react-hot-loader -> react-transform-hmr -> back to react-hot-loader, and there's so much going on in the build system that it's a bit difficult to wade through.

[2016-06-29 00:21] jnarowski commented on #888
Ok, I'll let you know what I find also. If it helps, it seems to only be happening to class based components. Functional components with syntax and other raise errors properly.

[2016-06-29 02:20] jhabdas commented on #819
As others have pointed out the Goog will crawl an Ajax site. Bing will do so as well. But those aren't the only two search engines out there. Due to time constraints crawlers allocate to index sites, Ajax sites will be crawled more slowly. Probably not a huge deal for most sites unless you have a lot of pages changing very often.

The term "Universal" is *not* interchangeable with "isomorphic", as

[2016-06-29 12:57] davezuko commented on #892
Duplicate of: https://github.com/davezuko/react-redux-starter-kit/issues/888. We're still working on this, so no answer for you just yet.

[2016-06-29 12:57] #892 closed

[2016-06-29 12:58] davezuko commented on #873
We're combining these issue reports here: https://github.com/davezuko/react-redux-starter-kit/issues/888. No fix yet, unfortunately.

[2016-06-29 12:58] #873 closed

[2016-06-29 12:59] davezuko commented on #875
@woniesong92 I will probably just link to this from the FAQ. Your issue title and description are detailed enough that people with the same issue are likely to stumble upon it, and, if not, I'll just link them myself.

[2016-06-29 12:59] #875 closed

[2016-06-29 13:00] #851 closed

[2016-06-29 13:01] davezuko commented on #819
Out of scope at the moment, we do not support universal rendering so this is not much of a concern. Closing to cleanup issues.

[2016-06-29 13:01] #819 closed

[2016-06-29 13:01] davezuko commented on #820
Blueprints are in the process of being cleaned up.

[2016-06-29 13:01] #820 closed

[2016-06-29 13:02] davezuko commented on #886
Two good answers so far, and this is more appropriate for StackOverflow or a redux channel. Going to close this for now.

[2016-06-29 13:02] #886 closed

[2016-06-29 13:02] #890 closed

[2016-06-29 13:03] davezuko commented on #891
Since this is a redux project, it's recommended that you dispatch actions via `react-router-redux` if you wish to change the route programmatically.

See: https://github.com/reactjs/react-router-redux#what-if-i-want-to-issue-navigation-events-via-redux-actions

[2016-06-29 13:03] #891 closed

[2016-06-29 13:05] davezuko commented on #867
@gabeweaver sorry, never saw your message. I was against it in the early days of this project, but I think it's worthwhile now if you'd like to submit a PR. Closing this issue for now, but would appreciate a PR for BrowserSync still if you're up for it.

[2016-06-29 13:05] #867 closed

[2016-06-29 13:07] davezuko commented on #835
I'm not sure this is easily fixable on our part, so going to close this by recommending that `lolex` be used independently when this functionality is needed.

[2016-06-29 13:07] #835 closed

[2016-06-29 13:08] davezuko commented on #734
Closing for now with @ericwooley 's latest PR, but I still welcome improvements to the blueprints.

[2016-06-29 13:08] #734 closed

[2016-06-29 13:14] shredding commented on #892
Okay, didn't see that. Thanks.

[2016-06-29 16:43] rkmax commented on #891
@davezuko thanks I was asking this method because I saw enable syncHistoryWithStore and in a previous version of this starter-kit I did it in that way. thanks in advance I'll take the dispatch approach

[2016-06-30 07:01] voiceofvega commented on #602
Hello,
How can we load a "plain" CSS file from a module ?
I try to use the facebook's fixed-data-table module ( https://facebook.github.io/fixed-data-table ). After installation with npm, I can import the JS in my Presentational components:
`import { Table, Column, Cell } from 'fixed-data-table'`
But the styling is lost. I tried importing the CSS file from various places:
- With an SCSS file in st

[2016-06-30 13:15] navidmesbah commented on #890
Ok, thank you!

[2016-06-30 13:25] janoist1 opened #895 "Folder structure and naming not clear to me"
According to the readme 'src/components' is labeled "Reusable Presentational Components", same with 'src/containers'. In the example there are 2 routes: home and counter. It is not clear to me why the HomeView has the suffix "View" and is under 'routes/Home/components' while the counter is named simply "Counter" and is among the reusable components. Why is it split into 2 parts: src/components/Cou

[2016-06-30 14:57] #888 closed

[2016-06-30 15:55] Sir4ur0n commented on #895
'src/components' is for Presentational components, not just any component (though I agree the naming of the folder could be improved to something like 'src/presentational').
If you don't see the difference between a Presentational Component and a Container Component, I recommend reading http://redux.js.org/docs/basics/UsageWithReact.html and https://medium.com/@dan_abramov/smart-and-dumb-component

[2016-06-30 16:01] Sir4ur0n opened #897 "What is the use of actions inside src/routes/Counter/modules/counter.js?"
More of a question really, but I just can't see the use of the `actions` const in `src/routes/Counter/modules/counter.js`.

I tried removing it and it still works.

Is it some forgotten fragment to delete? Or is there some hidden use I missed?

[2016-06-30 17:41] devinivy commented on #897
I think you'll find that it's used by the tests.

[2016-06-30 19:01] malliapi opened #898 "babel-rewire-plugin only works in test:dev ?!"
Hi,

I have been trying to figure this out for quite a bit now but i can't see what the issue might be as using the babel-rewire-plugin with this karma config (unchanged) will only work if the --watch argument is set!

Can someone please help?

[2016-06-30 21:23] KendallPark commented on #855
Was a solution reached for this?

[2016-06-30 23:48] malliapi commented on #898
looks like isparta was causing the issue, i have now replaced with istanbul, i suggest that this project does the same, i will create a PR shortly

[2016-07-01 09:30] jenyckee opened #899 "Why does this make use of a function from props to jsx rather than an extension of React.component"

[2016-07-01 10:11] #899 closed

[2016-07-01 11:58] frontalicious-martijn commented on #895
I wonder why the component container logic (e.g. CounterContainer.js and modules/counter.js) is in the src/routes/ path and not e.g. in the src/containers folder. The routes folder is now not just the routes configuration but also the components logic. I find that confusing.

[2016-07-01 12:01] KeKs0r commented on #764
@marcelloromanelli : Could you maybe share your complete configuration for the font? I did the changes as well, but my icons are not showing. (not sure why)

![image](https://cloud.githubusercontent.com/assets/2970814/16521019/5005472a-3f94-11e6-88bc-aecc2314ff8a.png)

[2016-07-01 13:08] KeKs0r commented on #764
Solution:

I found that apparently the sourcemaps cause some issues. If I remove them from the fontgen loading it seems to work:

[code]

[2016-07-01 21:43] brandonmp commented on #894
I was getting a similar (but not quite the same) error a few days ago in a fresh ubuntu VM, but I found the steps at this link helpful for general permissions problems w/ `npm install`/`npm start`:

[https://docs.npmjs.com/getting-started/fixing-npm-permissions](https://docs.npmjs.com/getting-started/fixing-npm-permissions)

Once I fixed my permissions, I didn't have to rely on `sudo` anymore (whi

[2016-07-01 22:03] davezuko commented on #894
Totally correct @brandonmp, you should _never_ have to use `sudo` with npm. @CatVas hopefully @brandonmp 's answer can help you out.

[2016-07-01 22:07] jasongonzales23 opened #901 "How to integrate Bourbon, Neat, etc?"
Sorry for the noobish question, but the webpack config isn't easy to interpret as to how to integrate bourbon into this project.

Could you document an example of how to integrate bourbon and potentially neat?

I love this project BTW! Got me up and running on a crucial project, so many thanks!

[2016-07-02 00:05] brandonmp opened #902 "hot-reloading in Windows not functioning"
Anyone run this kit on a windows machine?

On my win10 comp, I loaded a repo for a project that used this boilerplate.  Started up good, but hot-reloading isn't working.

I cloned the `react-redux-starter-kit` repo fresh, and it confirmed the issue.  I also cloned it fresh in an Ubuntu 16.04 VM, wherein everything worked fine.

- Changes to source code don't trigger anything in the terminal
- the

[2016-07-02 01:48] twelch commented on #897
I found that you don't need it if you are importing and mapping your actions individually to your components.  But if you have a lot of actions or they are changing a lot then it's handy to just import and map the actions object to your component.

`this.props.actions.myaction`
instead of
`this.props.myaction`

[2016-07-02 01:53] twelch commented on #879
@jokeyrhyme  Might be of help.  I use a library called mapbox-gl that uses web workers (I didn't develop).  They use a package called webworkify-webpack.  Can take a look at their config and worker setup.

https://github.com/mapbox/mapbox-gl-js/blob/master/webpack.config.example.js
More context - https://github.com/mapbox/mapbox-gl-js/issues/1649

[2016-07-02 03:45] jokeyrhyme commented on #879
Yeah, I think the way to do this is to have a second webpack config. I can probably just have a file that imports / clones the useful parts of the primary webpack config.

[2016-07-03 17:34] jedmao commented on #902
Hot loading works for me when I change "Welcome!" to "Welcome Home!" on the home page. I'm on Windows 10.

[2016-07-03 17:40] jedmao opened #903 "So many warnings on a fresh `npm start`"
I'm getting an absurd number of warnings on a fresh `npm start` and all the warnings repeat themselves every time a hot reload is triggered.

My environment:
- Windows 10
- Node 6.1.0
- npm 3.8.6

Warnings...

[code]

[2016-07-03 17:48] jedmao commented on #903
Just installed the latest version of Node@6.2.2, recloned, `npm install && npm start` and I'm getting all the same warnings.

[2016-07-04 03:02] brianzinn commented on #895
I think the reason for being inside the routes folder may be due to nesting routes.  There is a similar folder structure used in react-router examples: https://github.com/reactjs/react-router/tree/master/examples/huge-apps

Many best practices are not obvious in such a trivial example as a counter.  I followed the same organizational structure on my more complicated application with nested routes.

[2016-07-04 07:36] Sir4ur0n commented on #897
My point was more, shouldn't we either use it in the business code (not just the tests) or remove it all together? A variable created only for tests in the business code looks weird to me.

[2016-07-04 08:44] kolpav commented on #897
@Sir4ur0n This is how you define exports in ES6. You can then do something like this `import { increment } from 'modules/counter'` or in another file you might need both `import { increment, doubleAsync } from 'modules/counter'`
In this small project you will not see any other use case for this but for testing. But in larger projects it is very common to import actions from other modules a dispatc

[2016-07-04 09:22] kolpav commented on #895
@frontalicious-martijn I recommend reading about fractal structure this project is using and also huge-apps example @brianzinn posted. The project structure is correct you are just not thinking in fractals yet.

[2016-07-04 10:56] xeno commented on #894
I'm seeing this issue, too, also on Ubuntu.

`npm start

running better-npm-run in /home/ubuntu/workspace
Executing script: start

to be executed: babel-node bin/server
/home/ubuntu/workspace/node_modules/babel-core/lib/transformation/plugin.js:138
      throw new Error(messages.get("pluginInvalidProperty", loc, i, key));
      ^

Error: Plugin 0 specified in "/home/ubuntu/workspace/.babelrc" prov

[2016-07-04 10:59] frontalicious-martijn commented on #895
Yes, I'll start with a structure like this, thanx for the feedback guys.

[2016-07-04 12:42] bytewiz opened #904 "`npm run deploy:prod` refresh route return 404 not found, but work on localhost in dev"
visiting every other route than the "/" (root) returns 404 when the app is deployed to my nginx server, any suggestion of why this happens? as I thought the `koa-connect-history-api-fallback` would take care of this in `prod` aswell.

thanks in advance!

[2016-07-04 13:46] davezuko commented on #894
What is this file `/home/ubuntu/workspace/.babelrc`? If you have babel configs in parent directories to your project, things are not going to work well.

[2016-07-04 13:56] przeor commented on #903
Hi @jedmao ,

The starter requires other versions of node and NPM - check package.json:
  "engines": {
    "node": ">=4.2.0",
    "npm": "^3.0.0"
  },

try with those ^^ and let us know if still the same.

[2016-07-04 13:57] przeor commented on #903
P.S. @jedmao check Node Version Manager (NVM) if you don't use it, yet.

[2016-07-04 14:19] joeyhipolito commented on #901
+1

[2016-07-04 16:05] CatVas commented on #894
Thank you guys. I did the "Option 1" steps from https://docs.npmjs.com/getting-started/fixing-npm-permissions, but the problem is still the same:

`react-redux-starter-kit@3.0.0-alpha.0 start /media/catvas/Work/DiskE-Job/!jobbing/WebDev/ReactJS/react-redux-starter-kit

sh: 1: better-npm-run: Permission denied

npm ERR! Linux 4.2.0-41-generic
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm"

[2016-07-04 16:13] brunogarcia opened #905 "How many libraries add to webpack compiler_vendor?"
Hi,

I have a question. We're working in a middle size app, so we're using a few libraries (more than twelve):
We think is really good idea to separate our code from third-party libraries.
Do you think is a good idea compile all those into vendor.js?

Thanks!

[2016-07-04 21:14] jedmao commented on #903
Ahh, I didn't realize the version requirements. I think I'll pass. Thanks though.

[2016-07-04 21:14] #903 closed

[2016-07-04 22:30] jasongonzales23 commented on #787
Thanks for taking this poll. It actually made me look into the issue and learn more than I anticipated. I vote for CSS Modules. Here's why.

For all the reasons you might expect, I've stopped using Bootstrap. I never use all of it. And while it is powerful and fast to work with, it also feels like Rails (writ small). You get a lot of magic you can't easily understand or know how to effectively ove

[2016-07-04 22:31] jasongonzales23 commented on #901
BTW, just saw the poll on the SASS vs CSS Modules question and have decided to jump whole hog into CSS modules. May not bother with Bourbon.

[2016-07-05 07:38] joeyhipolito commented on #787
I just fall in love with bourbon and neat, . . . But I understand that sass and css modules doesn't play well, as many have been experiencing issues with it.

I've been reading all about ccs modules, and i think I will do just fine without bourbon and neat.

[2016-07-05 11:14] jenyckee commented on #895
Related to this I have another question. What if I want to reuse my reducer in another route than the one that it's defined at atm. Is this always bad practice and should restructure my routes so it becomes a subroute when I want to use a certain reducer?

Say that I want to use a counter component at the route '/', I cannot do this because the reducer is defined under the counter route.

[2016-07-05 12:52] frankbolviken opened #906 "Adding requireAuth type function to starter kit"
Hello,

I've been trying to implement this pattern but Im not entirely satisfied with it.

[code]

First of all, I didn't really grasp how to get a "higher order" structure here so that onEnter would trigger on all route changes (I had to pass the function into every route, and add a onEnter there). And second, I want to keep the Login component outside of the CoreLayout, so that Headers, sidebars

[2016-07-05 15:36] postalservice14 opened #907 "Layouts Question"
How do you use a different layout for a specific route?  e.g. /login uses an AuthLayout instead of the CoreLayout.

Thanks!

[2016-07-05 15:44] tiborkr commented on #807
@sanfilippopablo Did you have any luck figuring out HMR?

[2016-07-05 16:48] amangeot opened #908 "Fixing error trying to access locationBeforeTransitions of undefined when hot reloading"
I have had a bug recently on my app based on the starter-kit. When hot-reloading, it was showing an error (forcing a browser refresh) stating that it could not access `locationBeforeTransitions` of `undefined`.

It looks like checking if the state exists in `syncHistoryWithStore` fixes the error:
[code]

Has anyone had the same issue ?

[2016-07-05 17:49] kolpav commented on #906
Try something like this (not tested)
[code]

[2016-07-05 22:24] brianzinn commented on #895
@jenyckee - I hope I understand your question correctly - all reducers are available everywhere.  when you dispatch an action to the 1 store it goes to all reducers.  If you need the state from different reducers in another part of your application, i would try looking at mapStateToProps in the container (ie: CounterContainer).  In new route definitions using `injectReducer` to add another reducer

[2016-07-06 09:59] AzrielLiang opened #909 "How to dispatch actions in a container?"
[code]

[2016-07-06 13:04] nie-xin commented on #909
You will need to use the store context:

[code]

Then on your method, you can get dispatch function from store:

[code]

[2016-07-06 14:38] brianzinn commented on #909
The comment in CounterContainer would seem to indicate that a container shouldn't have a componentDidMount() from React Component.
`/*  This is a container component. Notice it does not contain any JSX,
    nor does it import React. This component is **only** responsible for
    wiring in the actions and state necessary to render a presentational
    component - in this case, the counter:   */`

F

[2016-07-06 14:57] janoist1 commented on #895
@jenyckee - I was also facing this problem .. My solution was to create an "src/modules" folder and place the reducers there. In my case I had a notification that is used in multiple place so that I put it under "src/modules/Notification/reducers.js". There are "actions.js" and "actionTypes.js" too in that folder. I put only app and/or route specific stuff into routes/<route>/modules.

[2016-07-06 15:10] janoist1 opened #910 "Where to modify server URL local file match?"
I need to fine-tune the server in order not to parse URLs containing "." as local files. For example, url: `/foo/bar.baz/1`. The server returns `not found` instead of starting up my application and handle routing ...
Where can I set that?

[2016-07-06 18:43] AubreyHewes commented on #906
You will have to nest a little more. A simple implementation answering your requirements is;
 * The root not having a component. This solves `CoreLayout` (your app layout) on all routes, though requires possible other layouts for other routes.
 * The root contains at least one child route (authed). All authed routes are child routes of this route. The authed route enforces the `requireAuth` via `o

[2016-07-06 21:33] AubreyHewes commented on #909
The comment cited by @brianzinn is the core of your solution. A container does not concern itself with presentation; _simply said (sic)_ a pure container is not a React.Component... though directs 1..* React.Component.

See https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0#.eznb2j8bo

As @nie-xin eventually mentioned; connecting the component will give you access to dispatchin

[2016-07-07 03:11] zedde commented on #907
Show my code

[code]

[2016-07-07 03:31] zedde opened #911 "QUESTION: after compiler, product is blank on some version iPhone mobile bowser"
[code]
start:prod is
[code]
Open http://myip:3000 in iPhone Safari `"Mozilla/5.0 (iPhone; CPU iPhone OS 9_3_2 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13F69 Safari/601.1"` is work

But  Safari `Mozilla/5.0 (iPhone; CPU iPhone OS 8_0_2 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12A405 Safari/600.1.4`. it didn’t working.

also in devel

[2016-07-07 03:32] zedde commented on #911
Some versions of android like so ...

[2016-07-07 03:37] zedde commented on #909
As @nie-xin .

You will need to use the store context:

[code]
in customize function, you should bind in
[code]

[2016-07-07 05:05] AzrielLiang opened #912 "How to mock api fetching?"

[2016-07-07 05:31] zedde commented on #904
you should use `nginx`

add `try_files $uri $uri/ /index.html;` in nginx.conf
[code]

Then will fine :-)

[2016-07-07 05:35] zedde commented on #912
I use [redux-api-middleware](https://github.com/agraboso/redux-api-middleware).

:-)

[2016-07-07 06:47] JounQin opened #913 "How to extract specific style file?"
Now all styles are extracted into a bundled style file.

For example, I don't want the `bootstrap.css` loaded in every page, and I use the `bootstrap` module and import it in some chunk module like `Counter`.

If I set the `allChunks` option in `webpack.config.js` to `false`, the styles of chunks will be bundled in the `chunk.js` file. So, is there anyway to extract it to another `.css` file?

Hop

[2016-07-07 07:42] nie-xin commented on #912
Plz read the FAQ section first next time:

Anyway, the starter has already integrated sinon.js, so you can simply mock ajax by [stub](http://sinonjs.org/docs/#stubs).

[2016-07-07 07:47] nie-xin commented on #911
Might caused by react-optimize on production, can you try to remove it from  build/webpack.config.js and test again?

[code]

[2016-07-07 07:51] nie-xin commented on #904
Just refer to browserHistory section:
https://github.com/reactjs/react-router/blob/latest/docs/guides/Histories.md

[2016-07-07 09:14] stupidisum commented on #892
I checked docs of [redbox](https://www.npmjs.com/package/redbox-react) you are using and found a s
olution.

in `config/index.js`
[code]
And I think swallowing error in console is bad even if you have redbox, so add `throw error` in `src/main.js`
[code]

[2016-07-07 10:58] janoist1 opened #914 "How to set up and run universal/isomorphic server?"
I'm not sure, what are the steps and requirements in order to run server with universal/isomorphic code?

[2016-07-07 12:17] zedde commented on #911
@nie-xin  👍
thank you~
by the way, i also find other bug... :0

[2016-07-07 13:37] davezuko commented on #911
Closing as duplicate.

[2016-07-07 13:37] #911 closed

[2016-07-07 13:39] davezuko commented on #914
There are a ton of issues already regarding this, so I recommend reading those as they should hopefully either point you in the right direction or at least explain how this is out of scope for this project.

Closing per https://github.com/davezuko/react-redux-starter-kit/issues/805.

[2016-07-07 13:39] #914 closed

[2016-07-07 13:40] davezuko commented on #912
Thanks @nie-xin , closing as out of scope.

[2016-07-07 13:40] #912 closed

[2016-07-07 13:40] davezuko commented on #909
Closing as resolved, thanks for everybody's contributions.

[2016-07-07 13:40] #909 closed

[2016-07-07 13:41] davezuko commented on #904
@bytewiz are you actually running the app server in production, or pointing nginx directly at the compiled files? The history fallback middleware will only work in the former case, for obvious reasons.

[2016-07-07 13:46] davezuko commented on #765
@gkedge Woah, this got lost in the depths of the _second issues page_. That "Configure Your Server" post would definitely be helpful, so I will definitely do that.

[2016-07-07 13:53] davezuko commented on #765
This has been added, and I'll link to your post in the FAQ.

[2016-07-07 13:53] #765 closed

[2016-07-07 13:54] davezuko commented on #898
@malliapi thanks for the information. I look forward to the PR, but if you get tied up I'll get to it myself when I have time. Closing until then, since this is technically not something broken out of the box, though it should still be considered.

[2016-07-07 13:54] #898 closed

[2016-07-07 13:55] davezuko commented on #870
@twelch we can definitely make these changes :)

[2016-07-07 20:47] Mattymar opened #915 "Is there a simple way to alter the head (i.e. meta tags/title/etc)?"
I see that react-helmet used to be included as a dependency but was removed. Is there a simple way to set it (or something else) up in the current configuration?  I know it has to be done on the server, but I'm having trouble figuring out where I would need to make changes. I'd prefer not to have to rewrite the entire server setup if possible.

[2016-07-07 22:39] nickgnd commented on #584
I had the same problems (animation not working) with [loaders.css](https://github.com/ConnorAtherton/loaders.css) library, it seems it lost the `@key-frames` for the animation after `postcss` build. I tried to work with `postcss` config and plugins to fix the error, but I've not been able to make it work.

I solved putting the library between the compiler vendor libraries in `confgi/index.js`

[co

[2016-07-08 03:18] JounQin commented on #913
Actually I found out a solution:

[code]

However, it still will be included in the `index.html` automatically. : (

[2016-07-08 04:19] kring commented on #858
I had similar problems in a different project, and was able to solve it with a small change to `style-loader`.  See here:
https://github.com/webpack/style-loader/pull/132

[2016-07-08 13:54] CatVas opened #916 "Module not found: Error: Cannot resolve directory (Windows 8.1)"
When running "npm start" on Windows 8.1 all is going well:

`app:config Creating default configuration. +0ms
  app:config Looking for environment overrides for NODE_ENV "development". +62ms
  app:config Found overrides, applying to default configuration. +96ms
  app:webpack:config Create configuration. +9s
  app:webpack:config Enable plugins for live development (HMR, NoErrors). +4ms
  app:server:

[2016-07-08 14:07] davezuko commented on #916
Is that an exclamation point in your directory name?

`d:\DiskE-Job!jobbing\WebDev\ReactJS\react-redux-starter-kit\node_modules\regenerator-runtime`

I don't have any immediate ideas other than to remove that and try it again to see if the results are any different. Exclamation points are special characters for various webpack loaders, so I could see it leading to conflicts.

[2016-07-08 15:32] bytewiz commented on #904
@davezuko Just serving the compiled files with the "prod" flag on `nginx/html`

[2016-07-08 15:43] CatVas commented on #916
Yay! It started successfully! Thank you Dave! I did not even think that an exclamation point can cause a problem)

[2016-07-08 15:50] davezuko commented on #916
Haha, glad that fixed it!

[2016-07-08 15:50] #916 closed

[2016-07-08 17:23] AlexGrs opened #917 "Deployment in production with nginx in subfolder"
I managed to deploy the app in production on the` '/' `path. Each time i go to example.com my app is served without issues.

Now, i just want to deploy the exact same app under `/v2/ `-> Each time i go to example.com/v2/ the app should be served.

Except I got the following error:
`Uncaught SyntaxError: Unexpected token <`

I followed the steps below:
Edit config/environment.js -> `compiler_public

[2016-07-09 11:47] gerbal commented on #871
I've dug into this a little bit.

Incremental testing works again if the [line](https://github.com/davezuko/react-redux-starter-kit/blob/master/tests/test-bundler.js#L27) `const __karmaWebpackManifest__ = [];` is terminated with a semicolon.  But not if the line is `const __karmaWebpackManifest__ = new Array()`.

This keeps #572 fixed and reenables hot testing.

[2016-07-10 10:45] jenyckee commented on #895
@janoist1 That is exactly what I ended up doing as well. I added a folder src/modules that contains "core" reducers. I'm wondering now if this is against any bad practice since there is no such folder in this project.

[2016-07-10 14:36] davezuko commented on #895
@jenyckee there's nothing wrong with that approach, it's how this project was originally structured. However, it doesn't necessarily scale super well, so @justingreenberg introduced the fractal structure to help prevent people from making the same mistakes. You may find [this post](https://github.com/davezuko/react-redux-starter-kit/wiki/Fractal-Project-Structure) helpful.

[2016-07-10 16:01] woniesong92 opened #919 "react-transform-hmr is deprecated"
And the recommended way is using React Hot Loader 3.
Should we replace it?

https://github.com/gaearon/react-transform-hmr

[2016-07-10 16:09] davezuko commented on #919
Already working on it: https://github.com/davezuko/react-redux-starter-kit/issues/726, https://github.com/davezuko/react-redux-starter-kit/pull/893.

Having some issues with react-router still, so I'm not yet confident enough to merge it.

[2016-07-10 16:09] #919 closed

[2016-07-10 17:18] woniesong92 commented on #919
@davezuko ah, I see.

On a separate note, do you know if it's possible to get better error messages when you accidentally access `undefined`? (link: https://github.com/gaearon/redux-devtools/issues/302). This is why I integrated the new `react-hot-loader` but I still get the same error messages. `redbox-react` doesn't seem to help as well.

[2016-07-11 02:49] janjon commented on #826
@web2style @kolpav thanks,

I used redux-api-middleware, but I had some problems.

This is my two action
[code]
[code]
How did this two and return a result set。

Thank you

[2016-07-11 02:50] janjon opened #920 "I want to how to do something like this to get two calls two fetch the result set"
@web2style @kolpav thanks,

I used redux-api-middleware, but I had some problems.

This is my two action
[code]
[code]
How did this two and return a result set。

Thank you

#826

[2016-07-11 06:14] kolpav commented on #920
Can you elaborate a bit more? In the `doEverything` you can dispatch multiple actions like so
[code]
I have a feeling you want to return something from the `doEverything` function but thats not how redux works. Result of load album will be in action payload with type `ALBUM_SUCCESS` and result of load category in action payload with type `CATEGORY_SUCCESS`.

[2016-07-11 07:44] janjon commented on #920
@kolpav
thank you. Thought I Thought

[2016-07-11 07:52] janjon commented on #920
[code]

`loadHome` must be a promise

[2016-07-11 08:08] JMacLulich commented on #906
I would love to have the time to document this as tutorial for people coming into this project for the first time.

There are a number of common use cases and `auth` is such an obvious one as almost everyone will require the ability to protect part of their site.

What do you think @davezuko? have you given some thought to documenting common use cases like this one? I would love to help.

[2016-07-11 08:25] bytewiz commented on #917
@AlexGrs how did you manage to serve the app under `/` ? does it also work when refreshing on other than root routes? as I tried to add

`location / {
		root /usr/share/nginx/html/;
		try_files $uri $uri/ /index.html;

		}
}`

without any success still get 404 on refresh on all other routes than `/`

[2016-07-11 08:27] bytewiz commented on #904
@zedde thanks, I tried to add

`location / {
		root /usr/share/nginx/html/;
		try_files $uri $uri/ /index.html;

		}
}`

without any success still get 404 on refresh on all other routes than `/` any idea why this happens?

[2016-07-11 10:38] kolpav commented on #920
[code]
Is very bad idea you are not rendering anything till all of your data is loaded, imagine you open up facebook and you have blank screen for the entire duration of loading all posts, comments, images etc. only when everything is loaded you are shown the result. You would not like that I suppose. Exact opposite is done throughout the web. You are rendering as soon as you can and "entertain" u

[2016-07-11 10:42] kolpav commented on #920
For some global indication that you are loading data you can take inspiration from [here](https://github.com/davezuko/react-redux-starter-kit/issues/856)

[2016-07-11 12:54] stupidisum opened #921 "[TEST]: Decorators are not supported yet in 6.x pending proposal update."
I used decorators happily in dev, but in CI I got this error.

Is it something wrong with the karma configuration?
Here is my webpackConfig to use decorators.
[code]

[2016-07-11 12:55] stupidisum commented on #921
And the test result is
[code]

[2016-07-11 13:55] Firfi opened #922 "Auto rebuild + hmr doesn't work on Ubuntu 15.10"
I'm trying 3.0.0-alpha.0 version currently. When I change i.e. Counter component, only ctrl+c and `npm start` again works. However, same code (actually just clone of your repo without changes) works fine on my MBP (it auto-rebuilds in console and auto-reloads in browser)

[2016-07-11 14:04] rimlin commented on #922
Try in `server/middleware/webpack-dev.js` in function `WebpackDevMiddleware` adding this field:
`    watchOptions: {
      aggregateTimeout: 300,
      poll: 1000
    }`

Shuld be:

[code]

[2016-07-11 14:16] Firfi commented on #922
Pollings seems to work (both build and hot reload). It looks like there's some watch issue with Ubuntu file system events.

[2016-07-11 15:30] postalservice14 commented on #907
Thanks!

[2016-07-11 15:30] #907 closed

[2016-07-12 17:23] eeynard opened #923 "Get access to the state outside components"
Hi guys !

Is there a way to get access to the state outside components (without connect) ? I mean something like :
[code]
In fact, I have a util function named request which is basically a decorator for fetch. In this function I  need the state to check if the user is connected and retrieve his access_token.

Thanks for the help !

[2016-07-12 19:12] marshallford commented on #923
I am only guessing here, but you should be able to replace `something` with a reference to your `createStore.js` file.

[code]

[2016-07-12 21:44] JMacLulich commented on #923
@marshallford that should work!

@eeynard what I do in this situation is have middleware that will intercept specific types of actions that are decorated to say "this is an API" request and pulls the access token from the store automatically.

I modelled it after Dan's great example in the redux code base "redux real-world". Might be a more idiomatic way of doing all your API requests in general.

[2016-07-13 03:04] janjon commented on #920
@kolpav thank you. you helped me.

[2016-07-13 11:20] eeynard commented on #923
@marshallford I already tried this option and unfortunately it did not work.

@JMacLulich You are right it seems to be a much better solution. I will write my own middleware inspired by yours :smiley:

Thanks for your help guys, appreciate it  !

[2016-07-13 11:20] #923 closed

[2016-07-13 13:07] jnwelzel opened #924 "No long-term caching optimizations?"
I noticed there's a `vendor.[hash].js` chunk, and I also noticed this chunk changes its hash EVERY time Webpack builds my application. This is not optimal for long-term caching and I was wondering if you had any suggestions regarding this topic?

[2016-07-13 13:50] davezuko commented on #924
The vendor hash changes because the webpack manifest (which allows webpack to find modules) does, and it lives inside the vendor bundle. There are solutions, such as using the DLL plugin or, at a minimum, bundling the manifest separately. Some of these have been explored in the past, but I haven't had the time (over been overly compelled) to implement them fully in the project. I would welcome PR'

[2016-07-13 14:38] davetheninja opened #925 "Acceptance Testing"
This is more of a query than an issue to be honest, I am wondering if there is any best practices on doing acceptance testing with react-redux-starter-kit?

i.e end to end, full UI running fully integrated React/Redux with faked api responses?

psudo example (coming from an ember background):

// stub api response for /api/producst/1
visit('/products/1')
fill_in('quantity', 3)
click('add-to-basket

[2016-07-13 15:58] postalservice14 opened #926 "Configuration Example"
I'm having trouble figuring out environment configuration.  The README.md states you can use the `~/config/` files to implement configuration such as api endpoints, etc.

I'm trying to do that in one of my route's module files, but can't seem to get it to work.

I tried adding `import config from '../../../../config';` to `modules/zen.js` but that generates an error.

Any help would be super appre

[2016-07-13 17:27] davezuko commented on #926
You can't import the config from your app, since it is not processed by webpack. It's meant more as _build_ configuration, so you can use it to define environment variables that can then be used in your application:

[code]

If you want a config that you share _inside_ of your application, I suggest just creating it yourself (perhaps `src/config.js`), and you can export different things there base

[2016-07-13 20:38] grahamlyus commented on #706
I encountered a problem on a colleague's machine with a new setup where the PhantomJS binary could not be found. My fix was to add `PHANTOMJS_BIN` to the `test` script definition in `package.json`:

[code]

[2016-07-14 00:14] brianzinn commented on #920
Another option is redux-saga, if you're interested.  The main thing is that reducers should be 'pure' and not have side effects, so dispatch would not return the fetch results.  Sounds like you got it figured out, but I prefer redux-saga over thunk.  The thing with the thunk is you would need to write your own code, if you wanted to ensure both external calls succeeded.  Using the redux-saga you c

[2016-07-14 00:52] nathanvale opened #928 "Named export as well as a default export"
I have a question.

What is the reasoning for having dumb components with a named export as well as a default export?

Why have an index.ts when you could just have Counter.js with just a default export.

Is it worth the extra boilerplate?

Just curious thanks.

[2016-07-14 06:48] rpribadi-ds opened #929 "Put rendering on-hold until initial fetch is done"
Hi @davezuko , I have a question on how to postpone child-rendering until a certain condition is met.

For example:
Let's say I have an "app" component. And on top of that, I have 2 modules inside my route:
/products -> accessing Product module.
/users -> accessing User module.

The app will render the children component based on its route. but, on "app" component, there's a necessary API that sho

[2016-07-14 06:53] AzrielLiang opened #930 "How to override base style in component css file?"
The scenario is that I imported [react-slick](https://github.com/akiran/react-slick), downloaded the **slick.css** file and put it into the base folder, the **_base.css** file is like this:
[code]
This is how I create a **Slider** component:
[code]
FYI, **styleName** is from [react-css-module](https://github.com/gajus/react-css-modules). And In the component css file I try to do something like thi

[2016-07-14 08:54] gerbal commented on #871
Aand I was wrong about how to fix this.

It looks like some part of the Coverage tests cause the parser to fail (in some environments) when parsing `test-bundler.js`.

[2016-07-14 12:13] jnwelzel commented on #924
I'll try to achieve this behavior in my app first and then maybe I'll feel confident enough to make a contribution here ;)

[2016-07-14 14:14] postalservice14 commented on #926
Thanks @davezuko that makes sense

[2016-07-14 14:14] #926 closed

[2016-07-14 14:50] zargold commented on #812
Is there a way to get a completely isolated front-end or is anyone aware of a front end only react-redux (with routing) starter kit?

[2016-07-14 14:59] davezuko commented on #812
@zargold the front end here _is_ entirely isolated, the only reason the server exists is to reroute requests to the webpack dev server. Basically, if you replaced the Koa server with `webpack-dev-server`, you wouldn't notice a change (beyond not being able to immediately write a backend server). If you could clarify the desired separation I might be able to be of more help.

[2016-07-14 17:21] marplemr commented on #901
Hi guys....I had the same question about how to integrate bourbon / neat. This worked out well for me. In /build/webpack.config.js, add
[code]
to the top of your file. Then, in your style configuration
[code]
Feel free to message me if u have any questions.

[2016-07-14 17:22] Mattymar commented on #915
Yeah, I misread react-helmets docs. Ignore.

[2016-07-14 17:22] #915 closed

[2016-07-14 18:13] zargold commented on #812
So to confirm any backend here is a devDependency? I am also building a react redux app into an existing django app. As much as I love node servers, I just want to make sure before I dive too deep into this that I won't have to run a node server in addition to the django one.

[2016-07-15 03:28] chompomonim commented on #812
If you want hot reload for your react app, unfortunately using additional node server (for dev environment only). This weekend I will try to make fork of this kit with Django or flask as backed to show how to use react redux and we pack with Python frameworks.

[2016-07-15 11:36] kolpav opened #931 "How to prevent long errors when unit testing Uint8Array"
Hello,
I am having problem with unit testing anything with `Uint8Array` because on fail it throws error which prints every element of the array. Even for small arrays the amount of text is quite significant. When I am trying to test array with few thousands elements the console simply freezes, with bunch of phantomjs erros.
I am not sure if it is somewhat related to how is this project set up or t

[2016-07-15 21:00] #931 closed

[2016-07-15 22:19] renanvalentin opened #932 "Fractal routes"
Hey guys!

I would try the fractal structure since the flat isn't scale right now because it is getting hard to locate files.

I've created this poc, but still I'm having some doubts:

Let's suppose that I need this routes:
/bid
/bid/request
/bid/{id}/details

How would be the project structure like?

[code]

And the routes would be something like this?

[code]

[code]

[code]

[code]

Where shoul

[2016-07-16 13:08] amangeot commented on #908
Sorry, this is actually solved in this pull request: #876

[2016-07-16 13:08] #908 closed

[2016-07-16 17:33] jasongonzales23 opened #933 "Files in `src/styles` are not watched"
This may be a misunderstanding of how to use this framework, but I have some reusable styles in `src/styles` (variables and such) that I import into component style modules. When I edit the files in `src/styles` webpack doesn't rebuild automagically. And for the life of me I cannot figure out how to config this--I promise I've RTFM and "heuristically" played with a lot of the config :) Any advice

[2016-07-16 21:38] davezuko commented on #933
Last I checked, if you are using CSS modules you do not get the benefits of HMR, due to how they are compiled. The easiest solution is just to CSS modules off and everything should just work, but if you want to keep them you can also wrap your style imports in `module.accept` blocks, though this is painful to do everywhere. There may be some workarounds out for this, but I'm not familiar with them

[2016-07-16 21:39] davezuko commented on #920
Looks like this is resolved, so closing for now. Thanks everyone.

[2016-07-16 21:39] #920 closed

[2016-07-16 21:40] #895 closed

[2016-07-16 21:41] davezuko commented on #787
Thanks for everyone's thoughts on this!

[2016-07-16 21:41] #787 closed

[2016-07-16 22:14] bingomanatee opened #934 "Suggestion for faster reducers:"
just have an identity reducer alternate for unfound reducers:
[code]

[2016-07-17 00:49] jasongonzales23 commented on #933
@davezuko thanks for the reply! But I am not sure what you mean by "The easiest solution is just to CSS modules off and everything should just work..." Could you give just a brief explanation?

Cheers!

[2016-07-17 08:45] simonjoom commented on #726
Hi i did the react hot load integration with yur boilerplate. I can share it

[2016-07-17 09:41] kolpav commented on #934
How is that faster?

[2016-07-17 14:39] mehdibalouchi opened #935 "Image load not working in scss"
I am using starter kit recently and I have a problem with loading images in scss file.
I want to use background-image attribute for a div and loader does not load the image file.

I have this code in my scss file:
background-image: url('./assets/Pattern.png');

there is a directory named assets near the scss file containing above line of code.
when bundle restarts I get this error:

ERROR in ./~/c

[2016-07-17 15:59] bingomanatee commented on #934
sorry; I should say, simpler.

[2016-07-17 16:10] davezuko commented on #934
I understand what you've changed, but I'm not convinced that it's necessarily _better_, it's just different. If you compare it to the existing implementation: https://github.com/davezuko/react-redux-starter-kit/blob/master/src/routes/Counter/modules/counter.js#L40-L55:

[code]

Rather than defaulting to an identity function (your `echo`), we just return the state directly if no handler exists. Thi

[2016-07-17 16:10] #934 closed

[2016-07-17 19:45] simonjoom commented on #934
I m going to swap to mobx.. I don t know about performance result but code will be simpler for sure than redux..

[2016-07-18 06:54] JMacLulich commented on #791
I've just encountered this same problem on Ubuntu 14.04.

I didn't have the problem when running the babel-node server under Mac OSX.

Is it just me or did other people have to add a tonne of dependencies to their `package.json` file to resolve all the module dependency problems? I might file a separate issue for this.

There is no `npm build` function.

Also now when I downgrade `node-sass` I get

[2016-07-18 15:12] zentuit commented on #932
@renanvalentin : have you gotten any further with this? I'm investigating fractal routes right now and am looking for more examples/documentation.

[2016-07-18 18:37] jenyckee commented on #677
Can someone give an update on what needs to be done with the current version

[2016-07-18 19:40] jeregrine commented on #765
@davezuko the immutable.js guide got missed in this task.

[2016-07-18 19:57] marshallford commented on #677
Personally I would not make the entire state immutable. IMO it is more trouble than it is worth especially when modules like `react-router-redux` rely on the ability to update state. Instead I would recommend making state a plain object and have individual reducers return Immutable records, maps, or whatever you need.

[2016-07-18 20:09] jenyckee commented on #677
@marshallford but still you will need a way to combine your individual reducers if they rely on the same data and hence combine immutablejs objects?

[2016-07-18 21:00] marshallford commented on #677
@jenyckee not quite sure what you are getting at but maybe this will help.

[code]

[2016-07-18 22:55] jokeyrhyme commented on #677
There are definitely some added conveniences for having the root state be a plain Object instead of an Immutable.Map. However, if you use this approach, then you have to remember this inconsistency, and it means extra work serialising state to storage, etc.

I prefer to keep the whole state either Immutable or plain (or something else). It isn't that difficult to insulate yourself from the inconsi

[2016-07-19 00:14] gschwa commented on #677
I suggest [seamless-immutable](https://github.com/rtfeldman/seamless-immutable) since it is easier to integrate and avoids polluting your code with ImmutableJS syntax.

[2016-07-19 03:07] mickeyinfoshan opened #937 "Deployment issue with Internet Explorer11"
The deployed application gets an error on IE11.

How to get the error:
[code]

The application works well with chrome and firefox.

[2016-07-19 13:43] Skatanic commented on #726
@simonjoom I'd like to see your react-hot-loader integration with this project! Thanks

[2016-07-19 14:46] zargold commented on #932
I think right now its confusing to have to look at all the containers and then switch completely to components. I'd prefer to have each applet in a folder with all of its components by itself it can still be fractal but what do I care about the messaging app when I'm working on something totally different only problem with this approach is that it still puts things in routes. For my app I have a s

[2016-07-19 17:57] bingomanatee opened #939 "IndexLink doesn't work on relative pathing"
In deploying my app to github pages I noticed that although the technique described in #877 worked mostly, the index link still pulled you back to the root of the domain (ignoring basename). Any suggestions for this?

Online documentation with a concrete example about hosting on a specific subfolder/path would be great too.

Thanks

[2016-07-19 21:52] r4j4h commented on #791
I ran into this and was able to get around it by removing the node-sass folder entirely from node_modules and asking npm to reinstall it.

[2016-07-20 00:26] JMacLulich commented on #791
That's great, @r4j4h was that with the latest version of `node-sass`?

[2016-07-20 00:38] BorelTung commented on #935
Meet the same problem, any solutions?

[2016-07-20 17:12] Alex1990 commented on #791
@JMacLulich I figured out this problem according to r4j4h's comment. And, the version of `node-sass` is `3.7.0`.

[2016-07-21 03:13] JMacLulich commented on #791
@Alex1990 thanks, that helps alot, I can bump my version back up to `3.7.0` and rebuild the `node-sass` folder.

I found this command `npm rebuild node-sass` seemed to fix some of my issues.

[2016-07-21 04:16] JMacLulich opened #944 "Can't import config map from a component under the /src directory?"
Hi Guys

I want to get access to the `config` map located in:

`config/index.js`

but if I try and import it:

`import config from '../../config'`

from a JS file sitting in `src/api/utils.js` I get a bunch of weird errors like this:

[code]

and it goes on and on ....

I think its got something to do with webpack transformations only being applied to source files under the src directory?

What is

[2016-07-21 04:27] JMacLulich commented on #644
Thanks @davezuko and @web2style I just posted the same issue.

But as I see my approach was flawed.

Would be great if this was a FAQ Q&A or something as it appears as if it might be something that a newbie would stumble into. I'll close my other issue.

[2016-07-21 04:30] JMacLulich commented on #944
Closed this issue because it is the same as #644.

See for details.

[2016-07-21 04:30] #944 closed

[2016-07-21 05:29] FAQinghere opened #945 "There is another module with an equal name when case is ignored."
Everything is fine on OSX, but when running on Windows, I get (very) many of these error messages:

There is another module with an equal name when case is ignored.
This can lead to unexpected behavior when compiling on a filesystem with other case-semantic.
Rename module if multiple modules are expected or use equal casing if one module is expected.

- despite the dozens (hundreds?) of errors, ev

[2016-07-21 08:06] nie-xin commented on #945
Mac has a case insensitive file system, whereas window is almost [case sensitive](http://stackoverflow.com/questions/7199039/file-paths-in-windows-environment-case-sensitive).

I crossed this problem once when deploying my project from mac to linux, and it turned out to be an inconsistent path case imported, which didn't raise any warning on mac.

Could you check carefully all your imports' case b

[2016-07-21 08:07] nie-xin commented on #939
I had a same problem and this is how I figured it out: https://github.com/davezuko/react-redux-starter-kit/issues/880

[2016-07-21 08:15] coolblabla commented on #945
+1
I got many times of this issue.  Warning throws again even tried remove NODE_MODULES folder, and reinstall packages. But if I copy SRC folder and package.json to a new `react-redux-starter-kit ` project and install, problem solved.

[2016-07-21 08:38] kuatro opened #946 "Server render and `module.name_mapper`"
Trying to make an isomorphic app using this awesome boilerplate. Got problems with .flowconfig - it seems like server can't understand short pathes defined in .flowconfig -
`Error: Cannot find module 'containers/Navbar/index'`

Can you help me with this?

[2016-07-21 09:30] muhawo commented on #791
Figured out according to r4j4h's comment !

[2016-07-21 18:33] blitzd commented on #902
I've been running into this as well, though I can definitely say that it's more than hot reloading - any of the watch tasks in the package.json only seem to intermittently fire when files are actually saved on Windows 10. Even more strange when running test:dev and start concurrently, sometimes one will fire but not the other, but sometimes neither of them detect any change. It's very frustrating.

[2016-07-21 20:32] jedmao commented on #902
I'm using [vscode](http://code.visualstudio.com/) with success.

[2016-07-21 22:24] woniesong92 commented on #776
+1

[2016-07-23 05:55] mehdibalouchi commented on #935
It has been 6 days now. any solution????

[2016-07-23 12:47] janjon commented on #849
My solution is this
[code]

[2016-07-23 20:32] janoist1 opened #949 "Why am I getting 2 builds when having a callback?"
I need to know the hash of the build so I'm trying to capture it in the callback function:

[code]

But when I'm doing this something weird happens: I'm getting 2 builds and can capture only 1 hash - obviously I need the other one instead of the one in the callback.

Output when having a callback:

`    app:server Hash +7s ea34c7a4d34baae1c353
    webpack built d796ba7633cf5b1023a0 in 6673ms
    H

[2016-07-23 21:18] janoist1 commented on #949
Found out ...

[2016-07-23 21:18] #949 closed

[2016-07-24 01:07] r4j4h commented on #791
Sorry for not responding sooner, it was the latest version at time of my writing at least. Thank you @Alex1990  for filling in for me. Glad I could help! =)

[2016-07-25 02:27] alex-dixon commented on #858
Appears fixed in Chrome 52.0.2743.82

[2016-07-25 15:25] janoist1 commented on #946
Check out my forked version that supports SSR: [https://github.com/janoist1/react-redux-starter-kit/tree/feature/universal](https://github.com/janoist1/react-redux-starter-kit/tree/feature/universal)

[2016-07-25 15:46] janoist1 commented on #212
If anyone is still looking for a universal version of this great starter kit, check out my [forked version](https://github.com/janoist1/react-redux-starter-kit/tree/feature/universal). This is fresh, needs to be tested, but shows the base concept.

[2016-07-25 17:53] kuatro commented on #946
Awesome!

[2016-07-25 17:53] #946 closed

[2016-07-26 09:26] janoist1 commented on #212
Done. Also, I fixed the eslint errors.

[2016-07-26 10:16] janoist1 commented on #775
I've recently added SSR / universal feature to this starter kit, check out [my forked version](https://github.com/janoist1/simple-universal-style-loader) Hope this helps.

[2016-07-26 10:18] janoist1 commented on #914
If anyone was interested, check out [my forked version](https://github.com/janoist1/simple-universal-style-loader) that supports SSR / universal rendering

[2016-07-26 10:19] mygnu commented on #906
++1    Tutorial Please

[2016-07-26 10:24] janoist1 commented on #805
If interested, check out [this](https://github.com/janoist1/universal-react-redux-starter-kit)

[2016-07-26 15:56] nmrony commented on #935
@BorelTung @mehdibalouchi create assets directory in  components directory put your image files in there. Do not use relative path from rather use relative path from the `scss` file. Thus I resolve this for now. I think we should have this in README if this is the way to go. what do you think? @davezuko

[2016-07-26 17:47] jasongonzales23 commented on #906
This was super helpful, I am in the process of building this out for a production app at work. I'd be happy to write up a tute here or at Medium (linking to the repo). Let me know if you'd like me to do that and if anyone would be willing to give feedback on a draft.

[2016-07-26 23:56] mygnu commented on #906
@jasongonzales23 Turning this to a production app would be great. For a novice like me it wold be very helpful. I'm happy to give feedback on the draft flick it to me[at]mygnu.net.

[2016-07-27 10:14] hoodwink73 opened #951 "Switch to react-router v2.4.0"
Hello

Are we considering to update to the latest `react-router` and fade usage of `react-redux-router`?

With latest [react-router](https://github.com/reactjs/react-router/blob/cbdc49442aba5cc6f225ff5546ac5f4a217fa4ec/upgrade-guides/v2.4.0.md) a container component can be wrapped with `withRouter` to inject the route as a prop on the container component itself.

This will not make router a part o

[2016-07-27 14:23] mehdibalouchi commented on #935
@nmrony I already have an assets directory near my scss file and I am using relative path from my stylesheet. But no matter where my image file exists and how relatively I am addressing the file, it doesn't load the image.

[2016-07-28 00:39] SahilDude89ss opened #953 "initialState set in main.js is overriden when createStore is called."
#The following is set in index.html.
window.___INITIAL_STATE__ = {
    profile: {
        name: "Sahil Sharma"
    }
};

In main.js the following is happening;
const initialState = window.___INITIAL_STATE__

But the following code totally overrides what was set in the initialState. Is there a workaround?

const store = createStore(initialState, browserHistory);
const history = syncHistoryWithStore

[2016-07-28 00:56] brandonmp opened #954 "Stacktrace file references"
Is there a way to configure the stack traces such that they're a bit more helpful?

My error messages via Chrome dev tools almost never point to a specific project file.  I wouldn't think anything of it, but webpack/React setups I've used in the past have generally pointed to the file/line of the error.

I'm still learning both techs, so it's not clear to me if that's a result of different configs

[2016-07-28 03:52] nmrony commented on #935
@mehdibalouchi Can you please add some sample code? Please check the snap
![sanp](https://cloud.githubusercontent.com/assets/2513341/17200610/b7d80d1e-54a8-11e6-872c-a4534a024a8a.png)

[2016-07-28 11:47] ajwagner777 commented on #496
@simonlinj did you find a solution?  Everything else I have seen has seemed hacky.

[2016-07-28 15:35] NoZiL commented on #776
+1

[2016-07-28 18:49] alanrubin opened #955 "hot reloading is not working for v3 alpha.1"
I have cloned the repo on master (3.0.0-alpha.1) and install dependencies with node v6. Everything executes fine but when I modify any React component the hot reloading does not work (need to refresh the page manually to get the changes reflected). I have tried with 3.0.0-alpha.0 and hot reloading works fine.

You can see from the attached screenshot that __webpack_hmr requests are being cancelled

[2016-07-28 18:59] bowenisdum commented on #955
👍 for me as well :(

[2016-07-28 19:20] davezuko commented on #955
Weird. I just did a fresh npm install and can't reproduce. Does it work in any other browser?

[2016-07-28 19:21] davezuko commented on #955
Edit: I did a fresh install on latest master, let me try the exact tag. Could you try the inverse (see if latest master works)?

[2016-07-28 19:46] alanrubin commented on #955
Sorry I guess I wasn't clear, it didn't work for me on the latest master. I guess I should try the alpha.1 tag, will do that later on.

[2016-07-28 19:50] davezuko commented on #955
@alanrubin don't worry about trying the tag, I doubt it will change, and anyways it _should_ work on latest master. If you could try another browser (or an incognito chrome window) that would help.

[2016-07-28 20:53] alanrubin commented on #955
It didn't work with Chrome in Incognito mode neither with Firefox.

But I found the solution, in config/index.js, I have replaced the server_host settings by 'localhost' instead of 'localip' and that did the job. Is that something we should have by default ? I guess the problem was that my hmr was using my local IP but the webpage was being accessed with localhost (although I tried to access the w

[2016-07-28 21:26] davezuko commented on #955
It _should_ still work with `localhost` even with `localip`configured. Do you have anything abnormal in your hosts file? The push for `localip` instead of `localhost` as the hostname was so users could access their dev server from other devices, and it seemed to be working fairly well.

[2016-07-28 21:35] peterpme commented on #906
@AubreyHewes did a great job with the example. There's just one tiny, tiny issue 😄

`onEnter` should not be invoked, however. It's a callback function with the following signature:

[code]

[https://github.com/reactjs/react-router/blob/master/docs/API.md#onenternextstate-replace-callback](React Router onEnter)

Here's a complete, working example with the modifications

[code]

[2016-07-28 22:03] peterpme commented on #906
I put together a small article to walk you through what's happening. Let me know if this helps!

https://medium.com/@peterpme/react-router-authentication-onenter-requireauth-plainroute-a-follow-up-to-a-github-issue-71ea3e7d59c9#.ooavmmys0

[2016-07-28 23:04] JMacLulich commented on #906
That's great @peterpme!

One thing you could possibly add is what to do if you are redirected to require auth from a page within the App.

So I do the following additional steps.

[code]

This is just the same function as your `requireAuth`.

and then on a successful auth I do the following:

[code]

that way the client is redirected back to the protected resource they were trying to access.

I ca

[2016-07-28 23:13] JMacLulich commented on #906
@mygnu I'm going to write something up and take a real-world redux app as an example without auth and then bolt auth into it step by step based on this hot loading stack.

I'll get to it next week and I'd appreciate a review if you have the time once I'm done.

[2016-07-29 05:56] kolpav commented on #906
Isn't it better to have HOC and in `componentWillUpdate`, `componentWillMount` have the auth logic?

[2016-07-29 10:16] belliAndrea commented on #937
In compile_vendor of /config/index.js for webpack configuration you have to put babel polyfill before all vendors

like this:

[code]

[2016-07-29 14:10] okloecker commented on #906
Just a caveat that the requiredAuth function, if it has the callback parameter, seems to interrupt the router flow if not used (I haven't tried to use it).
So: `function requireAuth (nextState, replace, callback)` stops the routing. Whereas: `function requireAuth (nextState, replace)` redirects in my example:

[code]

[2016-07-29 14:13] peterpme commented on #906
Yep, says that in the docs. 

Thanks,

Peter Piekarczyk

https://twitter.com/peterpme
https://github.com/peterpme

On Fri, Jul 29, 2016 at 9:10 AM okloecker

<
mailto:okloecker <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Just a caveat that the requiredAuth function, if it has the callback parameter, seems to interrupt the router flow if not used (I

[2016-07-29 14:34] okloecker commented on #906
Ah, now I understand what docs mean (I did read them):

I was interpreting _using_ as in executing the callback within the onSubmit function, not just declaring the callback as an argument. Actually the UI _is_ responsive, it just doesn't show the child route which declares the hook.

[2016-07-29 14:45] belliAndrea commented on #905
i did the same, i've added most of the vendor i use in compiler_vendor,
now my vendor file size is 500kb and it will be usefull to use a bundle analyzer like [webpack-bundle-size-analyzer](https://github.com/robertknight/webpack-bundle-size-analyzer/blob/master/package.json), but i cannot manage to make it work with this starter. Can someone help?

[2016-07-29 19:03] brianzinn commented on #953
I approached that a bit differently.  I did not use index.html, but stored another variable:
`window.__PROFILE__ = profile: {
    name: "Sahil Sharma"
}};`
In main.js you can merge them:
`const initialState = {...window.__INITIAL_STATE__, profile: window.__PROFILE__}`

The code you are showing here does not overwrite the initial state for me.  That does set the start state for the Store.  In this

[2016-07-29 19:16] brianzinn commented on #917
Could it be your nginx is /v2, while your config is /v2/.  You can use an nginx rewrite rule to see if that is the cause.  Notice the **trailing slash**, in the config, because the router may not be triggering.  Did you try redirecting /v2 to /v2/?

In betterScripts in package.json, I set basename differently, but it looks equivalent to your passing in node environment from command line.  Since I

[2016-07-30 03:51] mygnu commented on #906
@JMacLulich  thanks for the explanation above, this solves the problem. There is another issue that would be great to address in the tutorial 'best way to create a router independent container with redux state' i.e. the header bar container that can deal with login and auth etc.
Thanks again

[2016-07-31 06:43] alanrubin commented on #955
Nothing really abnormal, pretty much what is showed [here](https://www.tekrevue.com/tip/edit-hosts-file-mac-os-x/). @bowenisdum do you see anything different with your hosts file ? I have checked and my firewall is off as well - I'm running Yosemite on a Mac Pro Mid 2015. If that works for most of the people using this project I guess it is probably something local to my machine. Maybe it is worth

[2016-07-31 12:20] johnzielke commented on #955
I am having the same issue, but replacing server_host with 'localhost' did the trick for me... Apparently, the problem was with hamachi supplying a different local address

[2016-07-31 13:08] davezuko commented on #955
@alanrubin a FAQ entry would probably be wise, though I think it would also be helpful to also put it in the instructions for getting started where people are more likely to see it.

[2016-07-31 19:34] ajwagner777 opened #956 "Styles from alternate layout applied to CoreLayout"
So this is kinda a weird problem, but I'll do my best to explain.  I have 2 base layouts (in `src/layouts`.  One of them is for the main app, and the other is for a login (unauthenticated) layout.  The styles are distinct, and nothing from core imports the auth, and visa-versa.  However, for some reason the auth layout styles are being applied to the Core layout.  Here's some of my config (note th

[2016-08-01 09:15] tsi commented on #696
Same issue here

[2016-08-01 14:39] amatiushenko opened #957 "babel-node in prod"
How come we can run the server without babel-node? Because in [docs](https://babeljs.io/docs/usage/cli/) they don't recommend use babel-node in production mode

[2016-08-01 14:44] davezuko commented on #957
It's not worth it for small apps to pre-compile the server, you're just not going to notice a difference. I'd love to get rid of Babel altogether on the server, but it's unfortunately needed for Koa v2 at the moment (though this is pushing me back toward express, despite Koa's improvements). If you'd like to adhere strictly to Babel's recommendations you're welcome to add a compile step.

There ar

[2016-08-01 14:44] #957 closed

[2016-08-01 14:56] amatiushenko commented on #957
Ok. Thanks for quick reply!

[2016-08-02 11:43] mouhsinelonly opened #959 "after last commits link status doesnt update until page refresh"
seem that the latest commits broke <Link> from react-router, because it no longer get set to active after route change

[2016-08-02 14:19] mnemanja commented on #955
I can confirm the @alanrubin 's experience. I'm using Windows 10 as an environment and switching `localip` to `'localhost'` fixed the issue. I also tried leaving it on the `localip` and accessing the website via IP, but that didn't manage to make things better.

[2016-08-02 14:22] glifchits opened #960 "asyncReducer initial state in the redux store"
Hey there, I've got a couple of questions about `asyncReducers`. I very much like the `injectReducer` method and how it lets you add reducers to the store from pretty much anywhere. However, I'm finding that one of the reducers I added this way does not add its initial state to the store until its route component is mounted.

[code]

and then somewhere else
[code]

**Expected**: `auth` is an empty

[2016-08-02 15:02] klode opened #961 "babel-node: command not found"
I am just starting to learn react-redux, I am probably missing something trivial.

I cloned this repo on a Mac OX Yosemitee 10.10.5

When I run:

`npm start`

I get the following error:

[2016-08-02 16:11] klode commented on #961
I am not sure what was wrong, but I do not have the issue any more.
What I did was:

1. globally installed and then uninstalled babel and babel-cli
2. deleted the node_modules folder
3. run again  `npm install`

[2016-08-02 16:11] #961 closed

[2016-08-02 16:50] bhj commented on #960
This is by design for async reducers and enables code splitting where chunks of your store may not exist until loaded on demand. You probably want your auth stuff loaded from the get-go synchronously which happens in `src/store/reducers.js`.

[2016-08-02 21:42] AubreyHewes commented on #906
...Was on a little holiday.. @peterme my example was simply based on the given question and example code, which was not how `onEnter` actually worked but how to do a simple app auth with public (login) logic and private app views and such .. kudos on the fix  ;-)
@JMacLulich a public route that redirects to a authed route falls in to the auth route... ? You would only require the redirect within t

[2016-08-02 21:58] AubreyHewes commented on #906
@JMacLulich  soz on the last comment.. my example was based on the _given_ `requireAuth` example..  which may not have been correct but was the given question.. Your input definitively adds to a working auth example!

A few examples off a working `requireAuth`..

[code]

or with a client side auth expiration check

[code]

What @JMacLulich actually did was fix the original `requireAuth` which was

[2016-08-02 21:59] AubreyHewes commented on #906
thumbs on a full write up or tutorial on simple auth!

[2016-08-03 00:49] #960 closed

[2016-08-03 14:22] neverfox opened #962 "react-optimize breaks production code"
This is snippet was causing our `production` compiled app to break (basically no routing, forms fields not accepting input etc.) when everything works in `development` mode. Has anyone else had this issue and know what might cause it?

[code]

[2016-08-03 14:51] alanrubin commented on #935
I'm experience the exactly same issue, it doesn't matter if I put the image on the same directory of the scss/css file or not. I always use absolute paths. It finds the asset (otherwise the error message would be different) but says it cannot resolve the module for the image - it seems to me css modules are unable to find the url/file loader for the image to understand how to process it. Any ideas

[2016-08-03 15:10] davezuko commented on #962
I've had occasional issues, mostly with static properties on component classes. I've removed this from the boilerplate so people don't run into obscure issues in production, especially since the error messages are less than helpful.

[2016-08-03 20:51] sanfilippopablo commented on #807
@tiborkr No, sorry buddy. I have only one project which uses this and I'm without HMR on it.

[2016-08-03 23:34] SahilDude89ss commented on #953
Hi @brianzinn

Thanks for the reply. I tried the above but there is no difference.
So apparently the problem lies in the createStore function imported from redux library. It just drops the initialState. Not sure why it does that.

Thanks

[2016-08-04 05:07] Dr1Ku commented on #962
This was a really rude awakening for me yesterday as well, had no idea where to start looking! I think I introduced some static props on a stateless functional component, I'll look into that, thanks @neverfox. @davezuko Should this be in the FAQ (glad to help!) ?

[2016-08-04 16:09] marshallford commented on #962
Can an issue be submitted to [babel-react-optimize](https://github.com/thejameskyle/babel-react-optimize) from this?

[2016-08-04 16:28] davezuko commented on #962
@Dr1Ku I've removed it from the starter kit out of the box because it causes too many issues that people don't know where to even begin debugging.

[2016-08-04 21:03] quinnkeast commented on #845
I just wanted to share a beginner's perspective on this:

@brandonmp

@davezuko

The naming really threw me for a loop while learning to use this starter kit. Even if `mapActionCreators` makes sense in this case, newer users are looking for familiar names, and renaming `mapDispatchToProps` here causes a lot of confusion.

[2016-08-04 21:19] davezuko commented on #845
@quinnkeast just updated the naming with https://github.com/davezuko/react-redux-starter-kit/commit/914af6e51b74ac1356dcf3229dba4c7483a6ca39. This naming was introduced in a PR that must have been a stylistic quirk of the submitter that I just never caught/took the time to change. Thanks for making the argument again, hopefully this saves some other people the headache of deciphering the naming.

[2016-08-04 21:20] quinnkeast commented on #845
Fantastic. Thank you!

[2016-08-07 10:17] dkushner commented on #474
What was the general solution to this issue? I am encountering the same exact problem when trying to import Bulma from its node package.

[2016-08-07 11:29] dkushner commented on #658
@kabala, @davezuko: Experiencing the same exact issue when trying to import Bulma. Any fix ever found for this?

[2016-08-07 19:17] wkrause13 commented on #347
@ACPK  - I recently started work on a React Native version of this project. Differences are unavoidable, but I think the important thing is to try to use as many of the same conventions related to project structure as possible.

Happy to take pull requests that make my project more closely adhere to the conventions established in this project. Here it is:

https://github.com/wkrause13/react-native

[2016-08-07 21:35] cameronroe opened #963 "Too many implementation details"
Just wanting to provide some feedback on this repo. After discussing the boilerplate with another front-end dev, we think that the boilerplate has too many implementation details and distracts from the actual app code. For example, is it truly necessary to include the code-splitting API within every redux app one builds directly in their project? Ideally this would be abstracted into another modul

[2016-08-08 16:45] bhj commented on #963
I think the `injectReducer` pattern is good in terms of being small and un-opinionated. I totally get the frustration with the complexity of the ecosystem and that it seems like "one more thing", but the kit is trying to set you and your team up for success all the way through to production, by default. A project can easily grow to the point that a) you'll be really happy you have code splitting,

[2016-08-08 18:05] cameronroe commented on #963
@bhj I totally agree. I'm a fan of `injectReducer` and some of the awesome features in the boilerplate, however I don't think that they should be included within the same repo that the app code is using. For example, since code-splitting is such a globally accessible feature and API that would be used across many redux apps. (it's related to the performance entirely) it should be leveraged in a pa

[2016-08-08 19:42] bhj commented on #963
@cameronroe Yes, even though it's a pretty small (relatively) overhead, more modularity would definitely be good there.

As far as the server stuff I can't disagree; one man's overhead is another's starting point. I'm happy Koa 2 is included because it pushed me to go ahead and use async/await. The thoroughness of the environment configs is valuable (to me) as far as showing a path to solving issu

[2016-08-08 19:55] davezuko commented on #962
Closing since this has been removed from the core of the kit.

[2016-08-08 19:55] #962 closed

[2016-08-08 20:06] bhj commented on #933
@jasongonzales23 You may have found this already but I believe he's referring to https://github.com/davezuko/react-redux-starter-kit/blob/master/config/index.js#L35

[2016-08-08 20:23] jasongonzales23 commented on #933
@bhj thanks! I did notice that but had forgotten about this thread. Also, the @values feature is pretty well hidden in here. I wish I had known earlier that that is how you import.

[2016-08-08 22:54] shkfnly opened #964 "@@INIT is called on every route change"
I have an application with multiple routes, and every time I navigate to a new route within the application @@Init is called and the store resets to the default values. I am trying to persist the state across route changes but can't figure out how to do that. Is this a bug or a feature of this implementation.

[2016-08-08 23:18] #964 closed

[2016-08-08 23:20] shkfnly commented on #964
I found this issue. It had to do with the difference between using <Link> and hrefs.

[2016-08-08 23:25] cameronroe commented on #963
Yes, I think more modularity would really help this boilerplate be much more approachable for more developers.

I honestly think it should all be abstracted to the `redux-cli`. So one could just use the CLI to start the Koa server and use a `redux-kit` library to override any defaults.

[2016-08-09 09:03] chuchangming commented on #696
Same issue here

[2016-08-09 10:34] tte commented on #658
@davezuko Same issue when trying to import `bootstrap-sass`.

[2016-08-09 11:47] sschenk opened #965 "Adding a child route transition component yields a location did not match any routes error"
I'm trying to add a transition component to my routes, but I get the error in subject.

routes/index.js
[code]

TransitionWrappper.js

[code]

What am I doing wrong?

[2016-08-10 01:06] maxkrieger opened #966 "Webpack config use with React-Storybook?"
React-Storybook obviously doesn't work by default with the starter kit due to the webpack builds.

However, after setting up the webpack file inside my `.storybook` directory and making it es5-friendly:

`.storybook/webpack.config.js`:
[code]
`.storybook/webpack.config.babel.js`:
[code]

I get this error with the default `Counter` css module:
![screen shot 2016-08-09 at 21 02 50](https://cloud.git

[2016-08-10 15:17] maxkrieger commented on #966
After doing some searching, I found [a fork](https://github.com/DeloitteDigitalUK/react-redux-starter-app) of this starter kit that includes storybook. They selectively use only the loaders and sassResources in the default webpack config:

[code]

Seems to be working fine with this configuration.

Leaving this open in case there are any additional thoughts.

[2016-08-11 08:17] BorelTung commented on #935
I've fix this issue in my project. Maybe this would help. See [postcss-loader issue#83](https://github.com/postcss/postcss-loader/issues/83) .

[2016-08-11 17:33] nmrony commented on #935
@BorelTung That's what I was referring to. That's nice workaround

[2016-08-12 01:03] areshand commented on #891
Did the dispatch approach solve your problem? I have the same problem and tried the two approaches. Neither of them worked.

[2016-08-12 11:24] sschenk commented on #965
Here is a link to the stack overflow question:

http://stackoverflow.com/questions/38861108/nesting-child-routes-within-another-child-route

[2016-08-13 12:00] CungNguyen commented on #959
hmmm, I don't know why but I got 404 page error when access direct to one specific route. But click on the link was not. This just happen when I deploy to production, in local it's working well. Any help?

[2016-08-13 20:13] easingthemes commented on #849
I've tried both examples, and:

`scroll-behavior` works better than `react-router-scroll`, although it should be the same.
Probably implementation is missing something, since it will scroll even on `Back` button, which is not the case with `scroll-behavior`.

Anyway answer to

would be nice.

[2016-08-14 10:08] madshargreave opened #968 "Same CSS is injected into HTML over and over again"
I get the following output in my HTML, any ideas?

<img width="817" alt="screen shot 2016-08-14 at 12 04 56" src="https://cloud.githubusercontent.com/assets/5479890/17648492/c8a4091e-6217-11e6-8a4a-fc2769cec214.png">

[2016-08-14 13:46] Phenominal opened #969 "Loading image for use on header"
Currently I am trying to figure out how to add an image to the header of my site. I see that `src/routes/Home` has an `assets` folder where images are suppose to be placed. What should I do though when I need an image for the `Header.js`? Should I just import it from `src/static`, or do I create a new assets folder with the path `src/components/Header/assets`? Please Help! Thank you!

[2016-08-15 02:05] #966 closed

[2016-08-16 01:35] brandonmp commented on #426
having this same issue with Firebase hosting. Not sure if `config/_production.js` is a legacy file, as it's not in my project, but the `config/environments.js` file has this:

[code]

Is this what above posters were referring to re: `compiler_public_path`?

If so, is there another fix? like OP, `<Link>`ing from my index page works fine, but navigating directly there works not-fine.

[2016-08-16 07:39] danilvalov opened #970 "404 error on index page after installiation"
After installation last version of `react-redux-starter-kit`:
[code]
i see the text on page `http://127.0.0.1:3000`:
[code]

I don't have any errors in console.

node version is 4.4.7
npm version is 2.15.8

--------------------

I don't have a information about webpack build after starting on my Mac. But i can see it on another Mac.

--------------------

My logs:
[code]

[2016-08-16 12:43] danilvalov commented on #970
I'm sorry. It's my fault.
I had enviroment `NODE_ENV=local` from previous project. So i couldn't run my local web server.

[2016-08-16 12:43] #970 closed

[2016-08-16 15:45] fingermark commented on #935
I have my image in ./src/static and am trying to access it with background: url('/image.png');  webpack is able to find it -- if I change the image name I get an error -- but it doesn't seem to load in Chrome.  Chrome doesn't show a network request for that image.

[2016-08-16 17:46] fingermark opened #971 "Add test for url('/test.png')"
Would it be possible for someone to add a test to ensure that images can be loaded from the existing SCSS CSS Modules?  It's not working for me (due to sourceMaps) and I recall this is something I ran into a while back as well.

[2016-08-17 10:33] WenXuanYuan opened #972 "How to dispatch action when CHNAGE_LOCATION ocurred?"
I have an action
<pre>
export function resetState (state) {
    return {
        type: RESET_STATE,
        payload: {
            ...state,
        }
    };
};
</pre>
I want to trigger it when location changed, so I wrote a reducer
<pre>
import { LOCATION_CHANGE } from 'react-router-redux';

const ACTION_HANDLERS = {
    [LOCATION_CHANGE]: (state, action) => {

        // here I want to trigger a

[2016-08-18 01:34] fewspider commented on #695
@davezuko  thanks a lot

[2016-08-18 17:40] Phenominal opened #973 "Import CSS Modules After core.scss"
Currently I am working on designing my site with this boilerplate, and it is amazing! I have run in to a tiny snag though, **the `core.scss` is loading after the CSS modules**. In my `core.scss` I have a grid-system, and that means that the grid-system always overrides the CSS modules.

How can I import the `core.scss` before I load in the CSS modules? Please help!

[2016-08-18 18:36] #973 closed

[2016-08-18 21:09] wlingke commented on #924
You can just add `'vendor.[chunkhash].js'` to here:

[code]

You can also add other plugins to inline it if you'd like.

reference: https://github.com/webpack/webpack/issues/660

[2016-08-19 00:18] nickboris opened #974 "Component works on separate page but not the home page"
I'm learning react/redux and wanted to create a simple button component that toggles the state of a prop, but I'm having trouble figuring out how to implement an identical component on two different pages. I was trying to insert the component on the homepage, but I kept getting an error saying that I hadn't defined the props that I specified in the presentational component file, although I thought

[2016-08-19 07:53] m4recek commented on #974
You have to use that LoginContainer instead of Login component in HomeView. Use containers everywhere where you want to have prezentation component connected to store.

Btw: questions like this are answered much faster on stackoverflow.com

[2016-08-19 17:17] wlingke opened #975 "Cannot read property 'toJson' of undefiend"
I get this issue occasionally when I run the compile. It usually goes away the second time I run it. Not sure why this is happening but it looks like someone else reported this issue below.

https://github.com/davezuko/react-redux-starter-kit/issues/768

I've also updated my webpack to 2.x and made some other changes but the issue doesn't seem related to those problems.

[2016-08-19 19:35] nickboris commented on #974
Thank you! I was confused by your answer at first, but then realized that the connect function returns the Login component! Much appreciated.

[2016-08-19 19:48] nickboris commented on #974
I accidentally closed the issue before being able to fix the problem - could you explain what you mean by replacing the component with the container? Does the `connect` function that I export from the container file return the Login component with all connected props? I'm confused as to how to implement the container into the HomeVIew

[2016-08-19 19:53] jmschneider commented on #956
Are you loading both `Auth.scss` and  `DefaultLayout` as `:global`? In my brief testing, global styles aren't removed with the component is unmounted. You can nest `:global` inside a selector to limit their scope but this probably won't help with styling the body.

[This article](http://jaketrent.com/post/update-body-class-react/) talks about using `componentDidMount ` and `componentWillUnmount` t

[2016-08-19 22:31] brandonmp commented on #954
After another ~month of working in this kit, I've learned the above super-vague errors can be thrown by nearly anything, e.g.:

- using an undefined variable or un-imported component
- forgetting to use `{destructuring}` brackets on `import` statements
- passing certain invalid props to components

Unfortunately, without even the file name to go on, it becomes a game of ctrl+z and prayer.

Just wa

[2016-08-19 22:37] davezuko commented on #954
@brandonmp: there was an awful bug for a while after we dropped `react-transform` for hot reloading and instead rendered redbox errors ourselves.

Check out this commit: https://github.com/davezuko/react-redux-starter-kit/commit/20c8078aafa3df71bc24b8efdfe1d0e060ec600b and see if this change has been made in your project. If not, it's likely that this will solve the issue... since we were trying t

[2016-08-19 23:16] twelch commented on #974
The [CounterContainer](https://github.com/davezuko/react-redux-starter-kit/blob/master/src/routes/Counter/containers/CounterContainer.js) is a good example to follow if you didn't catch it.

The require should be a direct replacement as you did.  Have you looked at the value of connectLogin at runtime after the require?  You might have exported the container improperly.  It should be a wrapped com

[2016-08-20 03:13] brandonmp commented on #954
Holy shit! it appears that was exactly the issue.

... gah.  so many hours debugging/weeping.

valuable lesson for me here: compartmentalize starter kit files to make pulling bug fixes, etc., simple to do.

Will have to browse commits in past ~90 days to see if there's anything else I've missed.

Thanks a ton @davezuko

[2016-08-20 03:13] #954 closed

[2016-08-20 03:18] davezuko commented on #954
Glad that fixed it, it was indeed super annoying and I apologize for not catching it myself (and sooner). Lucky for you, there really hasn't been a ton of activity in the repo lately, as that's the most significant fix I can recall in the recent past.

[2016-08-20 20:45] jmschneider commented on #496
[danwad's solution](https://github.com/davezuko/react-redux-starter-kit/issues/474#issuecomment-186809885) from #474 for bootstrap-sass works for me here as well. Once you follow his directions to set up `src/styles/global/global.scss` outside of CSS module, add the following:

[code]

[2016-08-20 22:59] nickboris commented on #974
I fixed the problem - I had to use this syntax: `<connectLogin />` over the `{connectLogin}` syntax, since the `connect` function returns a component. Furthermore, for some reason it didn't work if I used assigned the `connect` function to any variable name other than `Login`, but I'm not sure why this is the case; Is it because the `connect` function is returning the component I passed into it, t

[2016-08-22 02:32] low-ghost opened #976 "Add createReducer Abstraction"
Would be useful to have an abstraction for the pattern of creating a reducer from an object where the key corresponds to an action type. Based on [Redux docs](http://redux.js.org/docs/recipes/ReducingBoilerplate.html#reducers). Since this is probably the inspirational source, perhaps there's a good reason for not including this. Too much magic? Also, establishes pattern for application wide utilit

[2016-08-22 02:34] low-ghost commented on #976
PR #977

[2016-08-22 14:13] FerreiraRaphael opened #978 "Import Materialize-css"
So, i'm trying to import materialize css to my project, but ... i'm getting the following error, any ideias ?
Installed with:
`npm install materialize-css --save`
And imported with:
import 'materialize-css/bin/materialize.css'
import 'materialize-css/bin/materialize.js'
at CoreLayout.js [https://github.com/davezuko/react-redux-starter-kit/blob/master/src/layouts/CoreLayout/CoreLayout.js](url)

and

[2016-08-23 00:01] m4recek commented on #974
Here is another way to solve it.

1. you can import LoginContainer (_hint: you can use folders in `src` directory as aliases e.g. `import LoginContainer from 'containers/LoginContainer'`_
2. use LoginContainer in your component

[code]

[2016-08-23 12:19] mwmeyer opened #979 "API Backend Integration Example"
I am trying to figure out the best approach for integrating an API backend with this project. I see there is a setting to proxy requests to an API in environment.js:

[code]

But I would like to know if there is a way to set things up to also handle backend API requests through Koa, similar to scenario 3 outlined [here](https://medium.com/@rajaraodv/webpacks-hmr-react-hot-loader-the-missing-manual

[2016-08-23 14:15] gkaran commented on #496
This seems like a lot of work for something that should be a lot easier. Simply importing the appropriate file should be sufficient. Perhaps a enhancement is needed here?

[2016-08-23 17:21] bhj commented on #979
Definitely, the starter kit includes Koa 2.x so you'd need to use async functions instead of generators. Also I'm using `koa-router` instead of `koa-route`. My setup is something like:

`config/environments.js`
- Proxy **not** enabled

`server/main.js`

[code]

`server/api/foo.js`

[code]

[2016-08-24 00:22] mwmeyer commented on #979
Thanks, that helped me get something working. I'll post a link to a full example here for others once I am finished.

[2016-08-24 00:22] #979 closed

[2016-08-24 07:16] kolpav commented on #979
You can also use prefix argument like so
[code]

[2016-08-24 13:13] davezuko commented on #979
Thanks for the example @bhj . Way back when I used to have a branch demoing a server API, but since that's now gone your comment will be good to point people to.

[2016-08-24 22:26] jasongonzales23 commented on #840
This just made my day 🍻 !

[2016-08-25 05:19] Robinnnnn opened #981 "Cannot seem to register single backend API route"
I've perused all issues in this repo related to the API, Koa, etc., and I'm still at a loss.

The first thing I did was head over to `/config/environments.js` and set proxy enabled to `true`.

From here I don't know where to register a basic `get` route. I checked out the [Koa 2.0 docs](https://github.com/koajs/koa) and just placed the following into `/server/main.js`:

[code]

As you can see I pl

[2016-08-25 06:11] kolpav commented on #981
You can use something like this and modify it to suit your needs. (not tested)
[code]
[code]

[code]
`GET : localhost:3000/api/hello/Robinnnnn => Hello Robinnnnn!`

[2016-08-25 14:36] Robinnnnn commented on #981
@kolpav, thank you so much for your explanation.

I tried your suggestion but unfortunately am still running into trouble.

`[GET] localhost:3000/api/hello/robin` returned "Cannot read property name of undefined".

I added a console log to the route:
[code]

Now, forgetting about the param, I simply re-wrote it like follows ...
[code]
... then sent a request: `[GET] localhost:3000/api/hello/`

The

[2016-08-25 17:57] marcusbelcher commented on #881
Seconded

 Would be nice to see a fleshed out example where route stores can modify a global stores where other components can see this stores state change... I know it follows a fractal pattern but how would you update everything at once?

[2016-08-26 02:06] Robinnnnn commented on #981
Wowwww. Fml.

In order to integrate routing with the Koa 2.0 syntax, I had to install [koa-router 7+](https://github.com/alexmingoia/koa-router/tree/master/) via `npm install koa-router@next`. I don't know if this is worth mentioning in the docs, but sorry for wasting everyone's time.

[2016-08-26 02:06] #981 closed

[2016-08-26 16:17] helloruli commented on #933
i have the same issue.

[2016-08-26 21:15] jflayhart commented on #959
I've been trying to fix this for hours... no go. I checked to make sure my path names all matched up ([as explained here](https://github.com/reactjs/react-router/issues/1772))

[2016-08-27 16:20] jflayhart commented on #959
@mouhsinelonly So my problem has to do something with the way I am handling plainRoutes but haven't figured it out yet.

However, you CAN fix this yourself for THIS boilerplate instead of using the activeClassName @davezuko has here https://github.com/davezuko/react-redux-starter-kit/blob/master/src/components/Header/Header.js#L8

replace with `activeClassName="active"`

[2016-08-28 18:50] brandonmp opened #982 "code-splitting at routes"
I've tried to replicate the code splitting that happens with the `Counter` component, but I can't seem to get it to work.

The app loads fine, as does the child route, but the build process only outputs one bundle (`app*.js`), which always contains all the code for the child route (ie 'ctrl+f' shows all the strings, etc., that child route component contains).

Is there a step I'm missing?

[code]

[2016-08-29 06:22] abzfarah opened #983 "How do you add stylus loader?"
Stylus seems to have been removed #115

I tried.

[code]

[code]

Output:

`Module not found: Error: Cannot resolve module 'stylus-loader'`

[2016-08-30 06:31] przeor opened #984 "Step by step guide for @davezuko/react-redux-starter-kit"
Hi Guys,

I've open sourced the book that uses this starter kit. It's available online at https://reactjs.co/

I would be grateful if you can give me feedback, how I can improve the quality and what is missing in that guide.

Do you find it useful?

Regards,
Kamil

[2016-08-30 07:15] grigy commented on #984
Hi Kamil,
Thank you for the book. It's definitely useful.
First impression - the animations are distracting. Also the layout and styles of text could be improved for better readability. More comments after I read the book ;)

[2016-08-30 08:31] przeor commented on #984
@grigy do you mean the animations on the top or the one that shows the app dev progress like this one https://reactjs.co/wp-content/react_convention/938_anim.gif ???

[2016-08-30 13:13] gkaran opened #985 "Debugging with webstorm"
I was wondering if anyone has managed to make debugging with webstorm work using this project.

I tried creating the configuration as shown in the screenshot below but with no success (the hidden IPs are the machine's public IP followed by the port - e.g. for localhost: localhost:3000).

![screenshot](https://cloud.githubusercontent.com/assets/1831136/18090249/d22ee18a-6e91-11e6-8400-551577efe4d9.

[2016-08-30 13:57] gkaran commented on #985
Never mind. It works, My problem was that I was dismissing the notification in chrome about debugging causing the debug session to stop.

[2016-08-30 13:57] #985 closed

[2016-08-30 17:05] davezuko commented on #983
We no longer include `stylus-loader` as a dependency, so you will have to `npm install --save` it yourself. Sorry for the inconvenience!

[2016-08-30 17:05] #983 closed

[2016-08-30 17:07] davezuko commented on #976
We did use a reducer/action creator abstraction in the past, but I really wanted to get away from bombarding users with additional concepts/abstractions/dependencies to understand. The argument could honestly go either way, since one side argues for demonstrating good practices by avoiding repetition, while the other prioritizes an understanding of the fundamentals.

[2016-08-31 03:40] JMacLulich opened #986 "Has anyone used Fetch polyfill with this project?"
Hi Guys,

I'm having some issues with the built in browser `fetch` call, the problem I have is that I can't get any useful error information out of the call.

If I get a 403 or a 401 returned by the server, Chrome just returns a generic `TypeError` and I can't get anything about the error (contrary to the docs).

I want to use the `fetch` polyfill.

But I don't know how to incorporate it into the

[2016-08-31 04:08] grigy commented on #984
I mean the ones on the top. Regarding the app dev progress, personally I don't see the need in them. But if you think they help to understand you could make them activated by a click. The text with embedded animation is really hard to follow.

[2016-08-31 07:24] przeor commented on #984
thank you @grigy - generally, I've deleted them as you suggest but I will also take a look into Google Analytics on Saturday if the average time page on page is better/same/worse :-)

My idea behind those gif animations: I thought that those top animations are "kind of a teaser" which may create more interest in the whole book's content.

We will see in 3 days if the deletion of the top animation

[2016-08-31 22:16] bhj commented on #986
I ran into some problems with the `whatwg-fetch` package (I can't remember exactly what right now) and switched to `isomorphic-fetch` which I'd recommend instead. Just

[code]

anywhere you need it.

If you do definitely want to use `whatwg-fetch` add the following to the [webpack plugins array](https://github.com/davezuko/react-redux-starter-kit/blob/master/build/webpack.config.js#L49):

[code]

[2016-09-01 00:57] bhj commented on #986
@JMacLulich No problem, if that works please close the issue 😄

[2016-09-01 09:45] brandonwoo opened #987 "Sharing reducers between routes with makeRootReducer and fractal project structure; contradictory?"
I understand that the approach described in #832 works for importing global reducers to be shared among routes/components, but doesn't that kinda go against the fractal routes structure of the project?

E.g. If i have 3 routes
/routes/Users
/routes/Organizations
/routes/Teams

Lets say Organizations depend on Users, and Teams depend on Organizations.

If I understand correctly, the injectReducer s

[2016-09-01 14:53] NoZiL commented on #727
Hi Dave,
I use this thread for extend my problem. How can I rewrite my URL with koa-proxy ?
Eg : localhost:3000/api/users -> localhost:9000/users

[2016-09-02 09:15] DarynHolmes commented on #984
@przeor thanks for the book. It is really helping me!

I like the gif animations, they helped clarify some issues.

Thank you for taking the time to put this together!

[2016-09-02 10:22] przeor commented on #984
@DarynHolmes your good words are appreciated. Thank you.

Stay tuned, I plan to expand this book into React-Native (based on the current www.ReactJS.co project structure, but with React-Native in the views) and maybe some backend :-) with GraphQL/Relay? We will see.

If anyone want to join that project, please feel free to ping me :-)

[2016-09-02 14:41] NoZiL commented on #727
Koa-proxy give a map option so I have resolved this issue with :
[code]

[2016-09-02 15:18] drock512 commented on #935
This is what worked for me.  Update the url in the scss file to be relative to the 'src' directory.  For example:

// src/components/MySweetComponent/MySweetComponent.scss
background-image: url('./components/MySweetComponent/assets/bg.png');

[2016-09-04 09:02] patrickgordon commented on #855
I'd love an actual explanation for this too if possible. I managed to resolve it with this... untidy fix:

[code]

For some reason that I can't figure out it needs to be passed as `reducer` to `injectReducer`.

[2016-09-04 10:46] abdennour commented on #791
i have @3.8.0 i upgrade down to @3.4.0 And it works now.

[2016-09-04 12:51] m4recek commented on #855
That's because you need to pass 'reducer' key in that object. ES6 is expanding it for you if you have your reducer in 'reducer' variable.
'''
injectReducer(store, {key: 'shift', reducer: myReducer})
'''

[2016-09-04 20:06] patrickgordon commented on #855
Ugh I'm so dumb... thanks a lot @m4recek !

[2016-09-04 20:56] m4recek commented on #855
Well, I've seen two other devs at my job doing same thing within last 2 months... so it's quite common.

Probably should be changed in counter example to be more intuitive. @davezuko ?

[2016-09-04 21:32] davezuko commented on #855
Being valid ES6 I'd prefer to keep it but just add some comments around it to make it clear for users who are not familiar with the key/value mirroring. I'll see if I can get something in later tonight.

[2016-09-05 14:43] gvaldambrini commented on #871
On my OSX (node 6.3.1, npm 3.10.6) I had the same parsing error mentioned above running `npm run test`. The problem disappears replacing `isparta` with `babel-plugin-istanbul` as already suggested by a warning printed on another machine (still OSX, still node 6) that does not trigger the error. If interested I can submit a pull request with the mentioned changes.

[2016-09-08 05:15] alma-socar opened #993 "How to import bootstrap scss from node_modules?"
I'm trying to import `bootstrap.scss` from `node_modules/` to cherry-pick certain scss files.

[code]

I can do this like above but there seemingly is no way to import `scss` itself.
Can I do that?

[2016-09-08 05:18] alma-socar commented on #993
Maybe I can do this by adding this line to CoreLayout.jsx

[code]

Am I doning right?

[2016-09-08 07:11] Abhimanyuv92 opened #994 "API Network call is not happening in iOS and Safari for a website build on React"
I could not provide the web link as its in local :(

[2016-09-08 17:43] jjwon0 commented on #994
any more details or example code?

[2016-09-09 04:14] kimispencer opened #996 "npm run dev crashes"
Not sure why this crash started happening.

	events.js:141
	      throw er; // Unhandled 'error' event
	      ^

	Error: listen EADDRINUSE 127.0.0.1:3000
	    at Object.exports._errnoException (util.js:907:11)
	    at exports._exceptionWithHostPort (util.js:930:20)
	    at Server._listen2 (net.js:1250:14)
	    at listen (net.js:1286:10)
	    at net.js:1395:9
	    at GetAddrInfoReqWrap.asyncCallbac

[2016-09-09 04:54] #996 closed

[2016-09-09 04:55] kimispencer commented on #996
Sorry, it's late. This is the wrong Git repo for this template.

[2016-09-10 13:37] nickwaelkens commented on #993
I also tried to cherry pick some files from Bootstrap4 and after a lot of hours of trial and error I went with [bootstrap-loader](https://github.com/shakacode/bootstrap-loader). You choose files to be included in your build in the `.bootstraprc` file and you're pretty much all set. You can specify files to be loaded both before and after the bootstrap "compilation", so you can override variables w

[2016-09-10 13:47] nickwaelkens commented on #986
@bhj Hm, I ended up adding the `whatwg-fetch` module to my [vendors array](https://github.com/davezuko/react-redux-starter-kit/blob/master/config/index.js#L46) and it works fine, I can also access `fetch` from eg. the console. Is there any downside to my method, though?

[2016-09-11 05:29] SahilDude89ss commented on #953
I figured out why the initial state values were being dropped. They were being dropped in createStore function as we did not have any co-relating reducers for them at that stage. Injecting the reducers with the initial state fixes the issue.

I think it would be nice to mention that in the file.

[2016-09-11 05:29] #953 closed

[2016-09-11 18:33] bhj commented on #986
@nickwaelkens Not sure IIRC but my issue may have involved initiating API requests from the server. Not sure if that's what you meant by console. If it works, don't fix it! :p

[2016-09-11 18:38] nickwaelkens commented on #986
@bhj I guess I was quite tired when I wrote that comment. I meant that with "my way" (of adding it to the vendors array) the fetch method is also available on the `window` object and I can just use `fetch` throughout my project. But like you said, if it works… :ok_hand:

[2016-09-12 16:09] michaelchart opened #999 "Reusing app components within another app"
I'm developing an app at the moment using this starter kit, which has been very useful so far. I'm now looking to extend the app so that parts of it are available to run within a different site. We have the front-end, public facing site that is built using this starter kit. Then the 'admin area' of the application, which is a .Net app. Within this .Net app, we'd like to re-use some of the React co

[2016-09-12 16:14] renanvalentin commented on #987
We are facing the same doubts here and still not clear how to solve this problem, we've came up with this:

We've added a "common" directory between each route root, which is organized by it's own domain...

[2016-09-12 19:36] davezuko commented on #994
If yu could provide more details I can help diagnose, but until then there's not much we can do. Closing until then, thank you!

[2016-09-12 19:36] #994 closed

[2016-09-12 19:36] #976 closed

[2016-09-12 19:37] #974 closed

[2016-09-12 19:37] davezuko commented on #971
CSS modules are about to removed, so going to close this. Sorry for the inconvenience.

[2016-09-12 19:37] #971 closed

[2016-09-12 19:37] davezuko commented on #972
This is more of a question for gitter or `react-router-redux`.

[2016-09-12 19:37] #972 closed

[2016-09-12 19:38] davezuko commented on #951
Yes, I am in the process of deprecating `react-router-redux` today. Thank you!

[2016-09-12 19:38] #951 closed

[2016-09-12 19:38] #937 closed

[2016-09-12 19:39] davezuko commented on #933
Removing CSS modules so this will be a non-issue.

[2016-09-12 19:39] #933 closed

[2016-09-12 19:41] davezuko commented on #928
The point of having the `Counter.js` file separate from `index.js` is that it is more manageable to have a bunch of components open and not confuse the myriad of `index.js` files.

I am currently in the process of removing the `index.js` files because I also agree that it is too much boilerplate.

[2016-09-12 19:41] #928 closed

[2016-09-12 19:41] davezuko commented on #922
Closing since I don't know what we can do about the Ubuntu issue :(

[2016-09-12 19:41] #922 closed

[2016-09-12 19:42] #935 closed

[2016-09-12 19:44] davezuko commented on #905
I only put the vendor dependencies that are global to the app in `vendor`. Anything else that could be split between smaller bundles is best kept there, so that the initial page load can be as small as possible. Ultimately this varies between teams and projects, so I can't provide a universal recommendation other than "package your app in such a way that repeat visits have to download as little re

[2016-09-12 19:44] #905 closed

[2016-09-12 19:45] davezuko commented on #975
There have been multiple fixes to the compiler since this issue, so closing this for now. Sorry for the delay in responding. If you still have issues after the next PR is merged (a massive refactor to eliminate babel outside of the client) please let me know.

[2016-09-12 19:45] #975 closed

[2016-09-12 19:47] davezuko commented on #910
You could include it before all of the other middleware (webpack and connect-history-api-fallback) where you just rewrite the request object. I'm in the process of rewriting the koa server to express to eliminate babel, so if you are still unsure of how to do this after that is merged please let me know and I can post a code snippet.

[2016-09-12 19:47] #910 closed

[2016-09-12 19:48] #726 closed

[2016-09-12 19:48] #744 closed

[2016-09-12 20:07] davezuko commented on #963
I am working on simplifying all of this right now after taking a hiatus from this project. 100% agree with you, but it's a hard balance to strike.

[2016-09-12 20:07] #963 closed

[2016-09-12 20:07] #939 closed

[2016-09-12 20:09] #858 closed

[2016-09-12 20:09] #917 closed

[2016-09-12 20:10] #906 closed

[2016-09-12 20:11] davezuko commented on #812
@zargold yes, the backend here is just a devDep.

[2016-09-12 20:11] #812 closed

[2016-09-12 20:11] cameronroe commented on #963
@davezuko 👍

[2016-09-12 20:11] davezuko commented on #812
(it is marked as a `dependency` because of users struggling with `npm i` on CI environments... I may revert this workaround).

[2016-09-12 20:11] #901 closed

[2016-09-12 20:11] davezuko commented on #901
Thank you @marplemr

[2016-09-12 20:12] #897 closed

[2016-09-12 20:12] davezuko commented on #737
Closing in favor of a PR.

[2016-09-12 20:12] #737 closed

[2016-09-12 20:41] low-ghost commented on #976
No problem, figured that was the case. It's a level of abstraction I like, especially if I'm going to be building things out quickly w/ redux-cli. But, I'll just keep my branch in those cases. Thanks

[2016-09-12 20:55] davezuko commented on #881
Unfortunately I do not have a list of apps, but somebody recent published a tutorial that uses this project that may be of help: https://github.com/davezuko/react-redux-starter-kit/issues/984.

[2016-09-12 20:55] #881 closed

[2016-09-12 20:59] davezuko commented on #982
Hmmm, everything looks fine to me, so not sure what's up. I would probably have to check out a fork to play around with it. I'm going to close this for now, however, because I'm in the process of simplifying this project to not include bundle splitting in the example application. It's gotten a bit unwieldy and it's not really feasible for me to triage these issues in a timely manner.

Sorry about

[2016-09-12 20:59] #982 closed

[2016-09-12 20:59] davezuko commented on #871
`isparta` has been replaced with `babel-plugin-istanbul` in this project.

[2016-09-12 20:59] #871 closed

[2016-09-13 01:46] stevendesu opened #1001 "Version 3.0.0 fails to runs any Node commands -- syntax error"
I'm using Node v4.2.6 with npm v3.5.2

I just installed react-redux-starter-kit per the instructions (git clone, then ran "npm install") however the next step (running "npm start") failed. I tried all of the commands: npm run start, npm run deploy, npm run compile,... they all fail with a similar error message:

[code]

[2016-09-13 02:45] davezuko commented on #1001
Ah you are right, thank you for catching that. I just dropped babel on the server earlier today which means all this stuff will no longer be transpiled. For some reason I thought the README suggested Node v6 as the minimum version, but it appears as though I was mistaken.

There are two possible routes from here:

1) Upgrade to Node 6 and reap the benefits of better ES6 support! I _would_ like to

[2016-09-13 03:25] davezuko commented on #1001
Just pushed https://github.com/davezuko/react-redux-starter-kit/commit/cc6ae303327647fdc9674385b596c58fe9745675 after testing it locally on Node `4.5.0` (the latest `4.x.x` release). That should work for you!

[2016-09-13 03:37] davezuko commented on #976
It is definitely a very useful abstraction to have, and one I personally use as well. Unfortunately, one thing we have to consider is that a lot of people picking up this project are new to this ecosystem as a whole, so I try to limit abstractions where possible to get to the meat of the project. My hope is that other users will organically figure some of this stuff out, learn what questions to as

[2016-09-13 14:28] o1dnik opened #1002 "`ip` package missing"
On latest version the `ip` package should be added to `package.json`.

[2016-09-13 14:59] davezuko commented on #1002
https://github.com/davezuko/react-redux-starter-kit/blob/master/package.json#L94 looks like it's there. Are you sure you pulled the latest version?

[2016-09-13 14:59] davezuko commented on #1001
Closing as resolved. Let me know if you still have any issues.

[2016-09-13 14:59] #1001 closed

[2016-09-13 17:46] kodermax commented on #386
why did you replace koa to express?

[2016-09-13 19:39] ubergarm commented on #579
I had this issue when running inside a `docker` container. The fix for me was to read the `babel-loader` docs:

```cacheDirectory: Default false. When set, the given directory will be used to cache the results of the loader. Future webpack builds will attempt to read from the cache to avoid needing to run the potentially expensive Babel recompilation process on each run. If the value is blank (loa

[2016-09-13 20:47] marshallford commented on #386
@kodermax [See this comment](https://github.com/davezuko/react-redux-starter-kit/pull/1000#issuecomment-246711234) @davezuko made on a merged PR.

[2016-09-14 09:06] o1dnik commented on #1002
Weird. Sorry for taking your time, I must have mistaken a branch.

[2016-09-14 09:06] #1002 closed

[2016-09-14 12:49] davezuko commented on #1002
No worries!

[2016-09-16 04:14] haderman commented on #984
@przeor you could use the blueprints with redux-cli to dashboard creation

[2016-09-16 20:25] brandonmp commented on #982
no sweat, thanks @davezuko. As it happens, this was one of those 'somehow solved itself' problems, I should've closed once I realized the problem was solved!

[2016-09-16 22:41] UnsungHero97 commented on #726
@davezuko what happened with the `react-hot-loader` feature? this issue was closed, but it doesn't seem like anything changed. was this closed because `react-hot-loader` won't be adopted?

[2016-09-17 03:18] levithomason commented on #726
David could answer more precisely, but I asked him offline and said it is not being implemented. He mentioned trying to remove as much code instrumentation/manipulation as possible.

[2016-09-17 03:33] davezuko commented on #726
@levithomason thanks for answering that. To further clarify, since it's been in beta for so long, in order to align with simplifying this project my approach is to keep it out until it at least reaches a stable v3, at which point we can reconsider.

[2016-09-18 03:30] cameronroe opened #1004 "Consider less configuration."
Please consider using kyt with less configuration directly within the boilerplate.

http://open.blogs.nytimes.com/2016/09/13/introducing-kyt-our-web-app-configuration-toolkit

[2016-09-18 20:20] ecjs opened #1006 "Remnants of CSS module usage"
#1005

Right now the HomeView.js component implies CSS module usage and tripped me up a bit since its now deprecated (and none of the CSS was actually loading for the ducky pic ;) )

Once again, awesome starter kit, loving the structure and I have learned a lot in the process of using it!

[2016-09-18 23:36] davezuko commented on #1006
Merged your PR, thank you for noticing/fixing this.

[2016-09-18 23:36] #1006 closed

[2016-09-19 13:05] ErwinLee10 opened #1007 "proxy does not work for web pack"
Hi all, apologize for my stupid question.

currently I am having difficulty in setting up proxy in the webpack.config.js.

const webpackConfig = {
  name    : 'client',
  target  : 'web',
  devtool : config.compiler_devtool,
  resolve : {
    root       : paths.client(),
    extensions : ['', '.js', '.jsx', '.json']
  },
  **devServer: {
    historyApiFallback: true,
    contentBase: './',
    pro

[2016-09-19 13:16] davezuko commented on #1007
This is my fault, sorry. I just recently started refactoring parts of this project and have not yet put any middleware back in for proxying requests. If you take a look at the server code from our last tagged release[1] you can do the same thing but with the express middleware[2]:

* [1] https://github.com/davezuko/react-redux-starter-kit/blob/v3.0.0-alpha.2/server/main.js#L17-L20
* [2] https://gi

[2016-09-19 15:12] 3amprogrammer opened #1008 "[question] What is the purpose of compile.js?"
As far as I understand it's all job is to wrap webpack with some nice debug info and copy static folder to dist folder, am I right?

I ask this questions cause it seems meaningless to me, as a newbie, and I really like to understand the tools that I am using. How this, pretty complicated for me, compile wrapper is helpful (besides that it copies static content, which as far as I know webpack can a

[2016-09-19 19:40] jgallow opened #1009 "Environment variable patterns"

[2016-09-19 19:42] jgallow commented on #1009
Hello,
I'm wondering if anyone has successfully setup managing environment variables via the .env file.

[2016-09-19 19:42] #1009 closed

[2016-09-20 02:45] ErwinLee10 commented on #1007
Cool!! It works with the above settings.

[2016-09-20 03:37] ErwinLee10 opened #1010 "define environment variable"
Hi, currently I am not really sure where I should put my environment variable like "api_endpoint".
If I refer to #604, I should put the variable inside the config.globals.

is the config.global referring to the one inside the config/index.js?

so lets say my prod and dev have different environment, how do make them referring to the different api_endpoint? my guess would be to put it inside the env

[2016-09-20 06:24] przeor commented on #987
hello @renanvalentin, could you elaborate?

That means that effectively, the redusers Users and Organizations are going to:
[code]

... and only teams are loaded async because they are not depended on by any other route at all?

[2016-09-20 07:13] dadtmt opened #1011 "Warning: Store does not have a valid reducer."
Hi
Without modifying any code I get this warning in the browser
Store does not have a valid reducer. Make sure the argument passed to combineReducers is an object whose values are reducers

The counter example is working though.

[2016-09-20 07:34] justingreenberg commented on #987
some perspective...
- reducers are just pure functions, usually fast, lightweight, and memoizable
- `injectReducer` just maps a reducer to key on the store. it is
- "fractability" is just a concept, so don't worry about breaking any rules, cuz there aren't any

i don't think there is any problem here :) this project just provides a canvas for building apps using fractal patterns with _code splitti

[2016-09-20 13:56] simonedavico commented on #1011
Same for me, even if the async reducers are working as expected.

[2016-09-20 15:12] jgallow commented on #1010
I agree this is still a little confusing, especially with the presence of the build environment configs. I found two ways to do this. The solution I ended up rolling with was that suggested by @davezuko in #926. Namely:

In this file you can basically just export an object with all your "env" variables set based on the `__DEV__`,`__TEST__`, and `__PROD__` globals as needed. Then you can import it

[2016-09-20 23:03] tseho commented on #1011
@davezuko said he was going to fix it: [comment](https://github.com/davezuko/react-redux-starter-kit/commit/4ecc655ae7c5db83e6c3edffd7456a667191bf2e#commitcomment-19091452).

[2016-09-20 23:30] davezuko commented on #1011
Yeap, totally my bad. I am currently in physical therapy for my hand/wrist so can't work for as long as normal, but will get to this ASAPly.

[2016-09-20 23:41] tseho commented on #1011
@davezuko no pressure, I just wanted to inform them you are already aware of this error.

[2016-09-21 00:49] justingreenberg commented on #1011
@davezuko i got you... will submit a PR in a few mins

[2016-09-21 01:09] davezuko commented on #1011
@justingreenberg I appreciate it, but seriously, if you have better things to do don't worry about it. Worst case I'll get to it tomorrow morning.

[2016-09-21 01:53] ErwinLee10 commented on #1010
@jgallow awesome! look like im going with the first solution

[2016-09-21 15:36] #1011 closed

[2016-09-21 20:39] davunderscorei opened #1014 "npm start fails on Bash on Ubuntu on Windows"
Hey, trying to get set up on BoUoW; get the following log on failure:

[code]

[2016-09-21 22:14] nhagen commented on #819
I'm not sure I'm seeing any smoking guns here in terms of why google is unable to render pages with this starter kit. React is capable of supporting Googlebot rendering. Rather than discuss server-side rendering, how can we isolate what is preventing from googlebot rendering the page? A good question to ask is has *anyone* using this starter kit having their site indexed/rendered?

[2016-09-21 22:26] jhabdas commented on #819
Google and Bing have been Ajax crawling since at least 2012. Just look for Matt Cutts videos from around 2011, and Bing actually published the feature when announced in '12z Pages in a SPA will look [like a black hole](https://speakerdeck.com/jhabdas/isomorphic-rendering-with-react?slide=6) to all non Ajax crawlers (e.g. less sophisticated scrapers) and non-JS browsers such as elinks and lynx. Eve

[2016-09-21 22:34] therios9 opened #1015 "Using the starter-kit for a new project"
I would like to use this starter kit for a new project. I will need to change the contents of the project.json file (author, repo, etc.) The README file would probably be replaced too. Where should I keep these original files so I can still credit the starte-kit developers?

[2016-09-21 22:40] nhagen commented on #819
In our case we have several dependencies which aren't isomorphic because they're either wrappers around non-react components, or the maintainers just never considered running in an server environment (and so just importing them throws `document is not defined`). Moreover, changing from nginx to node is not ideal. So there are at least a few reasons why server-side rendering might not be worth the

[2016-09-21 23:19] marshallford commented on #1015
Maybe a credits section in your new README?

[2016-09-22 14:38] yagudaev opened #1016 "Slow webpack build performance"
First off, I wanted to thank you for putting together this boilerplate. It has been great using it!

The Hot Module Replace and Hot Reload seem almost useless when the build is taking ~3 seconds. I haven't added much to it (only material-ui and a single screen with a tiny amount of code).

Am I doing anything wrong? Is there a way to do an incremental build with Webpack that will take ~200ms or so

[2016-09-22 21:22] thedrow opened #1017 "Redux-cli is not installed by default"
I understand from it's documentation that it should be installed globally but it's not really mentioned in the README file or the blog post so it was unclear what the blueprints are for.
We should document it's usage here as well.

[2016-09-22 22:17] justingreenberg commented on #1016
I have a PR on deck that should address incremental build speed will try to push up tonight

[2016-09-22 22:24] yagudaev commented on #1016
@justingreenberg beauty please let me know if you do. Would love to get speedy change & update cycles for prototyping power 😀  👊

[2016-09-23 01:10] carlwelchdesign commented on #929
Did you ever work this out? I have a similar problem. I need to load a few json files before anything renders. It works fine in development, but when I run compile and put it on a server, the app crashes on init because the components are expecting data. I'm at my wits end, at this point.

[2016-09-23 12:07] Dr1Ku commented on #929
One can use Redux here and:

1) Set up a `reducer` containing an initial `state` of `{ ... loading: true ... }`, issue an `action` of your choice in your a component's `componentDidMount()` to fetch the prerequisites (assuming an async flow so most probably a `thunk` along with other async Redux middlewares, e.g. [redux-simple-promise](https://github.com/alanrubin/redux-simple-promise)).

2) Set u

[2016-09-23 15:23] sschenk commented on #979
@bhj How did you get it to work I'm getting an error "await next is not a function trying to use it like that with koa router?

[2016-09-23 16:34] sschenk commented on #979
I should probably post this in koa router but doing the following gives me an undefined this and next and an empty object on ctx:

[code]

[2016-09-23 17:02] bhj commented on #979
@sschenk Which version of the starter kit are you using? Latest from master no longer includes Koa, and if you want to use Koa 2 you'd need to setup Babel server-side.

@davezuko Might be worth bumping version to 4.x?

[2016-09-23 17:20] mouhsinelonly opened #1019 "does not work from sub folder"
when using the kit from a sub folder only a blank  page is rendered

[2016-09-24 02:13] sschenk commented on #979
i'm using the one that does use koa and my react router doesn't behave at all as described above.

[2016-09-24 18:15] leefsmp commented on #804
Hi, thanks. I agree about pure tech questions should be posted on SO directly, but I think it's cool to answer project-specific questions like this one here ;) Thanks that was useful and not obvious the first time you look at the code (unless you are a React expert)

About the update, maybe i'm misunderstanding your question, but what prevents you to place "setInterval" in the componentDidMount? M

[2016-09-24 20:37] bhj commented on #1019
@mouhsinelonly Does #880 help?

[2016-09-24 21:24] MicahRamirez opened #1020 "React-Foundation or React-toolbox w/ RRSK"
After looking at the webpack config, it seems though we have the proper logic to be pulling in style resources from node_modules. However when I attempt to use either react-foundation or react-toolbox components none of their styling is being rendered. Is there anything specific I should be doing to get these to work ?

[2016-09-25 18:39] mouhsinelonly commented on #1019
no it does not work , it worked before removing
const browserHistory = useRouterHistory(createBrowserHistory)({
  basename : __BASENAME__
})

[2016-09-25 18:41] mouhsinelonly commented on #959
no it does not work

[2016-09-25 19:35] enesTufekci opened #1021 "Redirect in action"
I want to redirect after receive response from server in action. What is the best way to do it?

[code]

[2016-09-25 20:04] m4recek commented on #1021
You can import `push` or `replace` function from `react-router-redux`. They accept `url` or `desctiption` object as param, [described here]( https://github.com/ReactTraining/react-router/blob/master/docs/API.md#pushpathorloc)

[code]

[2016-09-26 00:34] davezuko commented on #1019
@mouhsinelonly if you need to add a custom basename to the router you can still do so, but it will require importing the history package and configuring the basename as you pointed out above. I removed this explicit dependency as it was superfluous to the majority of use cases.

[2016-09-26 07:47] cryptoquick commented on #966
Would it be considered in-scope of this project to provide React Storybook by default? It's very useful, and I'm sure it'd reduce duplication of effort as we start new projects.

[2016-09-26 09:33] fdlk commented on #1019
@davezuko I just tried to get the starter pack up and running hosted on a specific page of my java application. That took me about half an hour of puzzling and debugging WITH the boilerplate already in place. (I'd forked the starter pack before commit 4ecc655) If I hadn't found the BASENAME, I strongly suspect I'd have had to hack it into place, breaking the dev server.

"Just import the history a

[2016-09-26 10:13] CatPhat commented on #984
@przeor Thank you for taking the time to put this helpful guide together.

One suggestion that could assist with the readability is removing the constant reminders that you can click the images to make them larger.

<img width="957" alt="screen shot 2016-09-26 at 17 08 26" src="https://cloud.githubusercontent.com/assets/6219799/18830688/008ec88a-840c-11e6-9346-68af8e996dbb.png">

[2016-09-26 11:41] przeor commented on #984
OK I will remove them. Btw. have you seen the React Native Convention part with the same codebase structure at https://reactjs.co/react-native-convention/ ?

[2016-09-26 22:41] auswalk commented on #1007
I have **NOT** been able to get this express proxy to work using the example

I edited server/main.js:

const proxy = require('http-proxy-middleware');
if (config.env === 'development') {
  const compiler = webpack(webpackConfig)

  debug('Enable webpack dev and HMR middleware')
  app.use(require('webpack-dev-middleware')(compiler, {
    publicPath  : webpackConfig.output.publicPath,
    contentBa

[2016-09-27 04:01] auswalk commented on #1007
Ok it does work but needs to be in order:

//server/main.js:
app.use(require('connect-history-api-fallback')())

// proxy middleware options - Enable api-proxy if it has been enabled in the config.
if (config.proxy && config.proxy.enabled) {
  const apiProxy = proxy('/api', {target: config.proxy.options.host});
  app.use(apiProxy)
}

//config/environments.js
  development: (config) => ({
    compi

[2016-09-27 15:02] sergeyjsg commented on #986
I was able to use Fetch polyfill without any problems. I just added it as a dependency to pacjage.json
```npm install whatwg-fetch --save```
And then imported it in any file (I use self-written http wrapper for ajax, so I imported it there)
```import 'whatwg-fetch';```

export function request (url, options) {
  return fetch(url, withAuth(options));
}
[code]

[2016-09-27 18:59] eddiecantu commented on #745
https://gist.github.com/eddiecantu/7f15eaa0bb50dcf69c355226bc6c3b5f

[2016-09-27 19:02] davidlashlee commented on #1014
I got this exact issue when working on a ubuntu vps. Will update if I figure anything out.

[2016-09-27 19:34] nhagen commented on #807
I think I had this issue and got it working. The problem is that the HMR server is not configured to listen on the right path. In `server/main.js`:

    app.use(webpackDevMiddleware(compiler, publicPath));
    app.use(webpackHMRMiddleware(compiler, { path: `${ publicPath }/__webpack_hmr` }));

In `webpack.config.json`

[code]

The additional argument to `webpackHMRMiddleware` is what I was missing

[2016-09-27 20:42] jclif opened #1023 "Debugger in Vendor files"
I'm trying to drop a debugger in a third-party library that I'm using (redux-auth), but when I change source code in node_modules, it doesn't seem to trigger a breakpoint when the code executes. Has anyone else encountered this issue?

[2016-09-27 22:09] mjabraham47 opened #1024 "rror at first attempt to launch"
[code]

[2016-09-27 22:09] mjabraham47 opened #1025 "error at first attempt to launch"
[code]

[2016-09-28 13:48] simonedavico commented on #1019
@davezuko I am trying to achieve the same as you suggested, but it somehow breaks routing. This is what I did:

- Create a `appHistory.js` module where I create my custom history:
[code]
- Set it on `Router` by passing it as a prop to `AppContainer` :
[code]

- Configured the same history in `createStore.js`:

[code]

Result: the app runs without errors in console, but the router doesn't seem to w

[2016-09-28 15:44] #1024 closed

[2016-09-28 17:56] justingreenberg commented on #986
alternatively, if you don't want to include in bundle you could use polyfill.io cdn...

[code]

[2016-09-28 18:09] mealeyst commented on #863
@davezuko do we have an update to this? I've been trying to get the tests to fail and I have been having a bear of a time trying to get it to do so.

[2016-09-28 18:21] mealeyst commented on #863
If it is of any help, I tried to implement the following webpack plugins in the webpack.config.js file that are listed in [this](https://github.com/webpack/karma-webpack/issues/49) github issue.

[2016-09-28 18:21] auswalk opened #1026 "Cannot inject two or more reducers"
I want to inject two reducers inside a index.js and it complains. E.g.

`
import { injectReducer } from '../../store/reducers'

export default (store) => ({
  path: 'homepage',
  getComponent (nextState, cb) {

    require.ensure([], (require) => {

      const Homepage = require('./containers/Homepage').default require('../../components/Homepage').default
      const reducer = require('./modules/

[2016-09-28 18:30] mealeyst commented on #863
While I am not positive, but it seems that the plugins that were suggested for karma-webpack haven't helped me out yet. I was doing some research and I am going to see if I can track it down again but I think I recall hearing that `require.context()` sets modules as optional so if there is an error, the file isn't loaded.

[2016-09-28 21:25] m4recek commented on #1026
You need to insert reducer with key 'reducer'. So it should be 'injectReducer(store, { key: 'questionCardList', reducer: qReducer })'

[2016-09-28 22:06] auswalk commented on #1026
Thanks!

[2016-09-28 22:06] #1026 closed

[2016-09-29 00:13] #1025 closed

[2016-09-29 16:08] enesTufekci commented on #1021
Thank you I've tried, url is changing but page stills the same, I have tried redux-router but same issue.

[2016-09-29 18:30] midcore-nam opened #1029 "there was an error"
Win 10
here is an error when i run npm start

 npm start

running better-npm-run in C:\xampp\htdocs\NewApp
Executing script: start

to be executed: "node bin/server"
Thu, 29 Sep 2016 18:28:52 GMT app:config Creating default configuration.
Thu, 29 Sep 2016 18:28:52 GMT app:config Looking for environment overrides for NODE_ENV "development".
Thu, 29 Sep 2016 18:28:52 GMT app:config Found overrides,

[2016-09-30 03:53] qivhou commented on #1029
seems the `babel-core` was removed in [this commit](https://github.com/davezuko/react-redux-starter-kit/commit/4ecc655ae7c5db83e6c3edffd7456a667191bf2e)
the fix is easy, just ```npm install babel-core --save```

[2016-09-30 12:09] jgallow commented on #1021
I'm using browserHistory.push from react-router.

[code]

[2016-09-30 12:15] enesTufekci commented on #1021
Only context router is working for me. It is a good practice?
Like,
[code]

[2016-09-30 13:50] midcore-nam commented on #1029
you are the man.....i did it too but it didn't work.....i forgot the --save flag LOL....awesome stuff. thanks bud.

[2016-09-30 15:20] matyunya opened #1031 "Compression for server by default"
I realize that this is a starter kit of front-end related stuff but I'm sure that many people are using this as Express boilerplate as well, so maybe there should be gzip compression enabled by default for the server? Or is there a case when compression should be avoided?

[2016-10-01 13:57] jkettmann commented on #1029
I also got an error here on my linux machine: "Module build failed: TypeError: Path must be a string. Received undefined."

Installing babel-core fixed it

[2016-10-03 01:25] TimYi opened #1034 "No sass-node/vendor directory error run npm run start"
When I run `npm run start`, this error occurs:
ERROR in ENOENT: no such file or directory, scandir '/home/ytm/git/tsinghua/view/node_modules/node-sass/vendor'
 @ ./src/layouts/CoreLayout/CoreLayout.scss 4:14-211 13:2-17:4 14:20-217
I use master branch, my computer OS is ubuntu16.04.
My node version is 4.50, and npm version is 3.10.6

[2016-10-03 01:37] TimYi commented on #1034
I see a similar issue. So I'll close this issue.

[2016-10-03 01:38] #1034 closed

[2016-10-03 01:39] TimYi commented on #791
@3.10.1 also breaks.

[2016-10-03 01:57] TimYi opened #1035 "Add babel-core dependency"
In some conditions, babel-core is not installed, for example, I stop downloading phantomjs, and babel-core is not installed even if I rerun npm install.
So I think add `"babel-core": "^6.0.0"` in package.json is needed.

[2016-10-03 16:07] bytewiz commented on #1016
@justingreenberg any news? This problem is huge for me aswell

[2016-10-03 16:33] justingreenberg commented on #1016
@bytewiz please check out https://github.com/justingreenberg/react-redux-starter-kit/pull/2 locally and let me know if you see performance gains! it's a small diff... i have not tried it on a large build yet, but would love feedback

[2016-10-03 16:38] bytewiz commented on #1016
@justingreenberg will test it out today, but am I correct if the "main" changes was adding `HardSourceWebpackPlugin` ?

[2016-10-04 03:21] lactozily commented on #1017
redux-cli and blueprint was deprecated in [this commit](https://github.com/davezuko/react-redux-starter-kit/commit/b2756be3fd0a96d3ff0f689689969cd4273246a3)

[2016-10-04 10:46] thedrow commented on #1017
That's a shame because it was comfortable to scaffold new components like this.

[2016-10-04 17:10] davezuko commented on #1035
Added to master.

[2016-10-04 17:10] #1035 closed

[2016-10-04 18:05] sunjay commented on #474
For future people who get to this issue: The issue can also be caused if you accidentally nest `:global`

For example if you do this:

[code]

You will get the error:

[2016-10-04 19:53] ReLrO commented on #819
@nhagen Please let me know if you find a solution. I'll do the same.

[2016-10-04 20:22] jhabdas commented on #819
After reading the recent PPK article about the Web becoming a series of "hacks on hacks" may I present my solution for those who need to scale websites (not apps) in a big way.

http://hackcabin.com/post/initial-commit/

[2016-10-05 04:37] kyen99 opened #1037 "npm test fails in Ubuntu or Ubuntu in docker container"
With a new clone of react-redux-starter-kit (c3abb2), npm test fails when run in a docker container with the official node image (tried 4.6, 6.6 and 6.7). Running npm test on the same source, locally on my mac, works, though (with node 6.7). When run in the docker container it seems to do some bundling with webpack. When run locally on my mac it does not, even with the same NODE_ENV=test in the en

[2016-10-05 05:55] ReLrO commented on #819
@gabeweaver Do you have an example of a webpack config file that will enable Google crawling?

[2016-10-05 08:01] jhabdas commented on #819
@ReLrO https://github.com/jhabdas/lumpenradio-com/blob/master/tools/webpack.config.js

[2016-10-05 08:10] ReLrO commented on #819
Thanks @jhabdas. I am trying to see if I can avoid the isomorphic approach. I deployed my webapp to AWS S3 and AWS Cloudfront as a static website and I am trying to get Google to see it. I read that Google can see react generated sites (that use async calls), but when using the starter kit, Google only sees a blank page. As people here mentioned, it seems like it is something to do with the config

[2016-10-05 08:12] jhabdas commented on #819
@ReLrO the black hole has nothing to do with this starter kit, and everything to do with JavaScript.

[2016-10-05 08:13] ReLrO commented on #819
@jhabdas what do you mean?

[2016-10-05 08:14] jhabdas commented on #819
@ReLrO I've been building SPAs since Backbone was introduced, and here's what a backbone website looked like: https://speakerdeck.com/jhabdas/isomorphic-rendering-with-react?slide=6

[2016-10-05 08:18] ReLrO commented on #819
I understand, but it was also my understanding that Google can now crawl such websites (for example - http://chrisarasin.com/react-seo/) but that doesn't work for me...

[2016-10-05 08:19] jhabdas commented on #1037
@kyen99 I don't see a Dockerfile or stated support for Docker in this repo. I'm sure David would appreciate less issues and more PRs.

[2016-10-05 08:24] jhabdas commented on #819
@ReLrO have you registered your site with the google search console and added a page to your `sitemap.xml` file? If so, what happens once google indexes a page and you search for it?

[2016-10-05 08:27] jhabdas commented on #819
@ReLrO www.quirksmode.org/blog/archives/2016/09/web_development.html

[2016-10-05 08:37] ReLrO commented on #819
I have and the page is completely blank. Google also has a tool called Fetch as Google (https://support.google.com/webmasters/answer/6066468?hl=en) which allows you to see how the crawler sees your site and Google sees it as a blank page. I read these articles that prove that Google sees their React generated client-side pages and then I read the comments in this discussion and it seems like somet

[2016-10-05 08:43] jhabdas commented on #819
Fetch is not how Google sees your site,  it is operated as such since 2013. Please try what I suggested and let us know when you have an answer. I saw the same thing with Backbone (JS-content injected sites) back in 2013. And they were indeed crawled despite Google's lackluster and FUD-inducing tooling.

[2016-10-05 08:48] jhabdas commented on #819
Also, there's no going back to Isomorphic. Once you start down the path the Cheshire cat will erase the tracks home.

[2016-10-05 09:03] ReLrO commented on #819
Ok, thanks @jhabdas. I'll let you guys know after I index the page.

[2016-10-05 14:52] kyen99 commented on #1037
@jhabdas, agreed I should have included a link to a fork that contains the Dockerfile (also included below). Regarding David appreciating more PRs than issues, I don't see how I can submit a PR until I can resolve the issue. Are you suggesting that I should have submitted a PR with the Dockerfile and put my issue into the PR notes? I will absolutely submit a proper PR when I can resolve this.

Her

[2016-10-05 15:17] kyen99 commented on #978
I just did the same thing with the latest master (c3abb24) and it works as expected. This must have been a bug somewhere that was resolved. This can probably be closed.

For anyone else doing this, I would also suggest removing the bootstrap link from index.html to avoid competing style defaults. It's also worth a look at material-ui.com, which also integrates fairly seamlessly.

[2016-10-06 00:49] kyen99 commented on #1037
After more debugging on this issue, I realize that it's not that something different is done in the docker container vs my mac, but that webpack doesn't show any output unless there is an error. I also don't think Docker has anything to do with this. I think there is just an issue running npm test on Debian 8 (jessie). Maybe it has something to do with an npm package. I'll keep trying to track dow

[2016-10-06 01:28] JMacLulich commented on #986
Thanks everyone for their feedback on this, very helpful.

[2016-10-06 01:28] #986 closed

[2016-10-06 02:56] ghost opened #1038 "Include third-party files"
Hi,

I need to include jQuery and more third-party scripts, but I'm having a hard time with it. I do not understand webpack and I cannot include it in the `index.html` file, for it never finds it. I've put those files in `src/static/scripts/`.

Thank you.

[2016-10-06 10:42] bytewiz commented on #717
@justingreenberg Tried to add the code snippet above from @davezuko but result in the `stats.json` seems a bit off to me.

I get this: (dunno if that is expected but to me it is seems off)

[code]

[2016-10-06 11:56] #904 closed

[2016-10-06 16:58] CNSKnight commented on #791
I did an `npm cache clear` && npm `install -g --save-deve node-sass`, and "we're back!".

[2016-10-07 00:41] amilajack opened #1039 "Question: Why was flowtype removed?"

[2016-10-08 00:16] 6zz commented on #932
@zargold I'm starting to like the fractal structure.  but how do I add a child route that takes a param?  for example, if I want to add a dynamic route under Bid like 'localhost:3000/bid/:slug'?

do I create BidSlug route under Bid?
[code]
that does not seem to work for me.  No errors but it seems always to show /bid route.

thank you

[2016-10-08 05:56] SahilDude89ss opened #1040 "Failed at the react-redux-starter-kit@3.0.0-alpha.2 lint script 'eslint bin build config server src tests "--fix"'."
Hi

I get an error while I am trying to run npm run deploy:prod.
I also tried running npm run lint:fix and got the following error.

npm ERR! Darwin 16.0.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "run" "lint" "--" "--fix"
npm ERR! node v4.4.3
npm ERR! npm  v2.15.1
npm ERR! code ELIFECYCLE
npm ERR! react-redux-starter-kit@3.0.0-alpha.2 lint: `eslint bin build config server src test

[2016-10-08 12:10] ElessarWebb opened #1041 "What happened to importing scss files as modules"
Like so:

[code]

[2016-10-08 17:18] jakehm opened #1042 "Readme incomplete?"
But I only see one way described.

[2016-10-08 17:53] yinglinchen-minted opened #1043 "Fail to run npm start: Server is now running at http://localhost:${port}"
Hi,
I got this error after I try to run npm start. I tried to 'killall node' to kill node server, but still getting the error. Anyone has idea?
[code]

[2016-10-09 02:37] davezuko commented on #1043
What Node version are you on? It appears to not support template strings.

[2016-10-09 02:57] yinglinchen-minted commented on #1043
I am using v0.12.4.

On Sat, Oct 8, 2016 at 7:37 PM, David Zukowski <notifications@github.com>
wrote:

[2016-10-09 03:00] davezuko commented on #1043
Ah, ok, that explains it. As per the requirements specified in the README, you should be on at least Node `^4.5.0`: https://github.com/davezuko/react-redux-starter-kit#requirements. Sorry for the trouble.

[2016-10-09 03:00] #1043 closed

[2016-10-09 08:57] vincaslt opened #1044 "Cannot import environment config variable to front end code"
I have registerd an environment specific variable in environments.js, like so:

[code]

And I'm trying to import it in my front end module `import config from '../../config'`

It throws lots of errors: https://puu.sh/rCMOI/00bd28dc17.png

[2016-10-09 09:43] huesforalice commented on #1037
I see the exact same error happening on Ubuntu with a vanilla checkout of the 3.0.0 alpha 3. It looks like a problem with PhantomJS?

[2016-10-09 12:55] davezuko commented on #1044
Please see https://github.com/davezuko/react-redux-starter-kit/issues/644 and https://github.com/davezuko/react-redux-starter-kit/issues/926.

This is because the config is meant to configure the build; it is not meant to be imported into the application. Hope that helps!

[2016-10-09 12:55] #1044 closed

[2016-10-10 02:44] joeyhipolito opened #1045 "Question: Enabling HTTPS on development mode"
I have tried setting the `https` flag in the webpack.config.js file as I thought that is all it needs to get the local development setup run https, but found out that it doesn't.

How should I configure this starter kit to work with https on local dev machine?

[2016-10-10 22:38] 6zz opened #1046 "[Help] Why doesn't grand-child route render?"
So I added a child route `/list` following the fractal structure.  I want to have `/list` show a listing, then `/list/:id` show an individual item from the listing.  My file structure is as follows, but `/list/:id` still shows the list.  What am I missing?
![screen shot 2016-10-10 at 3 34 42 pm](https://cloud.githubusercontent.com/assets/9967532/19253370/807c1504-8eff-11e6-8da8-0f078ab2ddac.png)
[

[2016-10-10 23:27] 6zz commented on #1046
I finally figured it out, in order to have `/list/:id` render we can't have it as a nested route of `/list`, it actually has to be a sibling.

[2016-10-10 23:27] #1046 closed

[2016-10-11 14:35] o1dnik commented on #1039
https://github.com/davezuko/react-redux-starter-kit/issues/192

[2016-10-11 14:43] o1dnik commented on #1020
To check if your default style is being pulled correctly you have to check if you import correct styles in corresponding routes / components.
I've tried (successfully) with `bootstrap-sass` module laying in `node_modules` folder. I simply added a soft link from the folder I use (which is not necessary actually) and imported sass files into the core, base, components themselves, whatever else. But

[2016-10-11 15:14] amilajack commented on #1039
I see

[2016-10-11 15:14] #1039 closed

[2016-10-11 15:18] o1dnik commented on #1041
https://github.com/davezuko/react-redux-starter-kit/issues/787

[2016-10-11 16:35] amilajack commented on #192
It's been a while since this was closed and Flowtype has matured a lot. Integration is much easier now. I'm working on an ESLint plugin that runs flow as an ESLint plugin:

![ESLint Flow Demo](https://github.com/amilajack/eslint-plugin-flowtype-errors/blob/master/flow-demo.gif?raw=true)

Thoughts?

[2016-10-11 19:44] kyen99 commented on #1037
The more I look at the errors, the more I think it's an issue with babel-runtime or a babel plugin. Even if I resolve the stage-2 preset error I still can't resolve...

`ERROR in   TypeError: $export is not a function`

[2016-10-12 11:32] o1dnik commented on #1021
@enesTufekci
In case if you use `react-router-redux` and `routerMiddleware` + `createBrowserHistory` then it should be possible to do that with `push` from the same module. Then it should be synced with the redux store accordingly. Doesn't this work for you? I'm also curious how would you test routes in this case.

[2016-10-12 13:28] jenyckee commented on #895
One thing is still unclear to me. The example connects in the countercontainer the counter component to the counter reducer in the counter route. Like this there is only room for one container and hence one component? What if I want to add another component, IncrementButton, that also needs to be connected to the counter reducer. Where do I connect it?

`/*  1. ReactRouter -  Create PlainRoute def

[2016-10-12 14:58] mikedevita opened #1047 "Chrome gives "426 (Upgrade Required)" error on fresh install of the kit"
System Info
------------------
**OS:** Windows 10 x64 Enterprisee
**Chrome Version:** 53.0.2785.143 m
**Node Version:** 4.6.0

Description
-------------------
I cant load the latest clone of the repo, running `npm start` or `npm run dev` gives me the same errors..

Steps to reproduce
-------------------
[code]

Screenshot
-------------------

![image](https://cloud.githubusercontent.com/assets/299

[2016-10-12 23:29] neverfox commented on #1047
I'm sorry but I'm was not able to recreate this. I'm on Node 6.6.0 and OS X, but I tried 4.6.0 also. Is there anything strange in the output of your npm install or the server?

[2016-10-13 02:34] ShadowWalker627 opened #1048 "I can build and start the project in macosx's termial, but it can't run correct in my chrome, it throw the error as can't get app-xxxx.js and vendor-xxxx.js"

[2016-10-13 08:55] simonedavico opened #1049 "How to wait for reducer injection?"
I have a page with a `Parent` tab and two secondary tabs `ChildA` and `ChildB`.
`ChildA` should be the default tab when I select the `Parent` tab; also, the reducer for `Parent` is injected asynchronously.

Now, when entering a child, say `ChildA`, I would like to check some state from the store and dispatch an action in some cases. The problem is that since the state I'm interested in is in a pro

[2016-10-13 09:56] wuzhuzhu opened #1050 "Deployed dist folder can't fetch any api data when local dev environment is worked well"
I have a pretty simple page to fetch diary data from an external server api, and use this starter kit project to represent the diary web page.
I have no problem with local dev environment, using redux-api-middleware at container works all good.
But when a dev works done, the deploy section is different. I set up an local nginx server, and run 'npm run deploy:prod' at my proj, then drop the dist fo

[2016-10-14 00:33] abury commented on #671
For future readers, [here](https://gist.github.com/abury/dc2448bfa70bcb1b04f773ade883e5f9) is an example of auth using Plain routes:

I really struggled to get this to work as all the examples I read up on (including tickets in this repo) are using JSX routing (which is a tad frustrating given that this project uses plain routing). Maybe it's just a beginner thing.

[2016-10-14 00:37] abury commented on #906
For future readers looking for a full PlainRoutes example with auth being read from the store, hopefully [this example](https://gist.github.com/abury/dc2448bfa70bcb1b04f773ade883e5f9) might save you some time (drop in replacement for the routes file in this project, except for the links to the childroutes of course)

[2016-10-14 10:37] wuzhuzhu commented on #1050
there's some problem with api server, close.

[2016-10-14 10:37] #1050 closed

[2016-10-15 14:25] o1dnik commented on #895
@jenyckee I'm playing around with the project structure for a while and it looks nice to me. You've commented on a route component here. The code injects a given reducer to a route component, not a dumb or smart component which should be in a different folder according to the documentation. So if you want to create a <CustomButton> then you 1) create a presentational component in the `/components/

[2016-10-16 00:48] mikedevita commented on #1047
not sure whats up as it now works fine on my macbook lol.

[2016-10-16 00:48] #1047 closed

[2016-10-16 01:00] mikedevita opened #1051 "example HOC using Authentication & Authorization"
i'm trying to piece together a working example of Authentication & Authorization in an HOC but i'm not quite there, i cant get it to load the routes right... it complains about `children not defined` in the CoreLayout... whats the recommended way to lock down routes based on Authentication and Authorizations like isAdmin...

**containers/Authenticated.js**

[code]

**routes/index.js**

[code]

[2016-10-16 03:36] mikedevita commented on #1051
I've piece a somewhat working example [here](https://github.com/mikedevita/example-app) it does double redirects because `BaseLayout` redirects to `/app` which then checks Authentication and redirects to `/auth/login` but its roughly working

[2016-10-17 22:20] vonwao opened #1052 "Optimal level of code splitting"
Does anyone have any experience or empirical data on the optimal level of code splitting?

The Fractal Project Structure page seems to suggest a high level of code splitting, splitting each route into a separate bundle.  One of the major advantages of a single-page app is that the experience is very smooth because no server requests are required to load additional pages.  It seems the code-splitti

[2016-10-18 09:49] kolpav commented on #1052
Code splitting is not about reducing bundle size but loading only parts of your application necessary for each specific route. Imagine having admin and user section of your application why would you require regular user to load parts of your app which he will never use?

It is not very smooth when empty page with tiny login form is 3mb of data. Its just a technique how to negate that heavy initial

[2016-10-18 13:49] jcarbo commented on #966
I wound up getting this to work via:

[code]

- `plugins`: The `DefinePlugin` and `ProvidePlugin` inject globals which would otherwise not be found.
- `resolve`: This tells webpack which paths to check when importing. This fixed issues where it couldn't find certain directories like `static` or `lib`.
- `module.loaders`: This tells webpack how to handle loading certain file types'

[2016-10-18 15:12] mikedevita commented on #1052
agreed 👍 having everything under routes/ and fractal sub routes makes it really nice..

[2016-10-18 16:07] 6zz commented on #1052
same here, I start to like the fractal structure.  I think we can also avoid code splitting by using "component" instead of "getComponent".  I am working on a project where I build the FE with this spa starter kit, but I only need the final generated assets that is served up by php server.  I actually could not get the split code load during runtime because the target url is not relative.  e.g. my

[2016-10-18 18:28] vonwao commented on #1052
You are saying opposite things, your argument is not very congruent.

Yes, code splitting is good in some cases, to reduce initial page size, and take out things most people will never use (such as admin pages).  But my question is still not answered.

For people who like lots of files and directories and lots of boilerplate, the Fractal Project Structure seems like a good solution.  Also, you can

[2016-10-19 19:21] SpencerCDixon commented on #871
is there a PR that shows how to implement istanbul?  Getting the same isparta errors :(

[2016-10-20 08:18] billyxs opened #1055 "Inject reducer replays actions"
It appears that each time a reducer is injected, all of the previous actions are replayed inside the respective reducers.  The actions are not dispatched again, but the reducers will appear to run the actions. This doesn't appear to affect the store or state, but I'm surprised to see the replay.  Can anyone speak to what is going on here?

I replicated this in the starter kit by adding two `consol

[2016-10-20 12:49] thomasthiebaud commented on #1048
What are you doing to run it ? Are you running

[code]

and then go to `localhost:3000`. I'm using it on OSX and Chrome and it is working

[2016-10-20 13:33] kowalski commented on #1037
I run into the same problem. What helped was:

[code]

[2016-10-21 00:36] brandonmp commented on #671
super helpful, thanks @abury. for some reason, when I'd pass an `onEnter` function to one route, but not others, all routes would call it.

passing a generic `public()` function to public routes, as you did, did the trick

[2016-10-21 12:43] jenyckee commented on #1019
Someone got this working so far?

[2016-10-21 13:46] mikedevita commented on #671
i have two parent routes `/auth/` and `/app` i have an `onEnter` on `/app that checks auth for its route and all child routes.

[2016-10-21 14:42] jonaswindey commented on #726
What's the added value with adding react-hot-loader when we have webpack-hot-middleware for hot-reloading?

[2016-10-21 15:49] glifchits opened #1056 "Request: simplify the webpack/build config"
Firstly, thanks for this awesome starter kit. I've found it really useful while starting a new project!

However, I have one major gripe which will prevent me from using this starter kit in the future, and it's that the configuration is extremely convoluted and over-engineered.

In my opinion, a well-documented `webpack.config.js` file for each environment is much more useful than config that is c

[2016-10-21 17:08] davezuko commented on #726
@jonaswindey `react-hot-loader` transform your React components so that webpack HMR knows how to reload the individual component. Without it, all code changes bubble up to the root of the application, at which point you can re-render the entire app, but you cannot preserve local component state. This is mostly mitigated by moving most of your state to redux.

[2016-10-22 00:54] jonricaurte opened #1057 "Upgrade to webpack 2"
Now that webpack 2 is pretty much done and the only thing being worked on is documentation, would be great to update this repo to use it.

[2016-10-22 10:13] kolpav commented on #1057
Yes I am really looking forward to tree-shaking feature.

[2016-10-22 11:00] ajainvivek commented on #582
@davezuko I tried the steps provided by you to get it working but unfortunately styles doesn't apply

Can you help me out?

[2016-10-22 19:38] Stelmashenko-A commented on #1040
I also got this error after running npm run lint:fix

npm ERR! Windows_NT 10.0.14393
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "run" "lint" "--" "--fix"
npm ERR! node v4.6.1
npm ERR! npm  v2.15.9
npm ERR! code ELIFECYCLE
npm ERR! react-redux-starter-kit@3.0.0-alpha.2 lint: `eslint bin build config server src tests "--fix"`
n

[2016-10-23 07:07] dagda1 opened #1058 "Why was babel on the server and koa where removed"
Hi,

I'm curious to know why both babel on the server and koa where removed.

Was it because you require babel-node to run in production?

[2016-10-24 05:57] kyen99 commented on #1037
Yep, that fixed the issue. Thanks for taking the time to post the solution. I'm going to submit this as a PR.

[2016-10-24 07:47] jenyckee commented on #1019
I tried to reimplement it as it used to be in commit https://github.com/davezuko/react-redux-starter-kit/commit/4ecc655ae7c5db83e6c3edffd7456a667191bf2e but my page just stays blank without any errors about routes that do not match.

I do

[code]

The basename is indeed set but it seems that the routing does not take it into account since any other routes give me a 404.

[2016-10-24 14:49] amergin commented on #1040
Did you find out what the problem was?

[2016-10-24 15:46] amergin opened #1060 "Consider disabling jsx-no-duplicate-props"
Consider disabling [jsx-no-dubplicate-propps](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-duplicate-props.md).

Consider the following valid use-case of `react-flexbox-grid` in jsx:

``
<Row around='xs' around='md' around='lg'>
...
</Row>
``
This will result in error.

[2016-10-24 18:13] #1060 closed

[2016-10-24 20:35] amergin commented on #1019
Is there a complete code base that would demonstrate this config? I would really need this setup working.

[2016-10-24 21:16] simonedavico commented on #1019
@amergin calling `useRouterHistory` to create a custom history as showed above it's really all there is to it. You only have to be careful to create it as a singleton.

[2016-10-24 21:34] amergin commented on #1019
@simonedavico: a total newbie here, but you said that the `history` library you used cause you some issues. Yet in the code above `createBrowserHistory` is imported by `import createBrowserHistory from 'history/lib/createBrowserHistory'`? Which specific version of `history` did you settle on using, that didn't cause you issues?

[2016-10-24 22:01] amergin commented on #1019
Also, I'm assuming this approach does not take into account any static resource paths, ie. assets that are in `static/` and are used in the html markup?

[2016-10-25 04:35] jhabdas commented on #819
If you're looking to go isomorphic (yes, not Universal) look no further than the React Production Starter. And thank David for his incredible work and givingness. Thanks David <3

[2016-10-25 07:46] jenyckee commented on #1019
It seems like the problem is indeed with the version of history i.e. 4.3.0 in my case. Any workaround other than using an older version? And if not how would I use the transitive dependency?

[2016-10-25 08:56] sauravskumar commented on #819
@jhabdas can you give the link of the exact starter kit you'r talking about....... (are you talking about [https://github.com/jaredpalmer/react-production-starter] )

[2016-10-25 09:12] jhabdas commented on #819
@sauravskumar indeed. I'm keeping a list here as well https://habd.as/awesome-react-boilerplates/

[2016-10-25 09:21] simonedavico commented on #1019
@amergin yes, you import `createBrowserHistory` from that path.
Then, you create a custom history in a module you create (e.g., `apphistory.js`):

[code]

Now, you use this history instead of the default one. In `AppContainer.js`:

[code]

Don't forget to set `__BASENAME__`. I set it in my `package.json` like this:

[code]

@jenyckee Removing the explicti `history` listed in the dependencies in `p

[2016-10-25 12:26] onweer opened #1061 "How to define a route without the CoreLayout props children?"
I need a landing page 。
Visit the home page(path = '/') and check no session will redirection to /login
Do not want '/login' is in the CoreLayout under the props, but a complete page.

eg:

[code]

[2016-10-25 16:04] janoist1 opened #1062 "Missing tests?"
I use this starter kit in a project and I was told by a colleague there should be tests for `AppContainer`, `createStore`, `reducers`. I did not write tests because I guess there must be a reason why the author skipped them...
Now I am unsure, don't they need to be covered too?
Thanks.

[2016-10-25 20:19] mario-camacho2 commented on #327
This worked for me (same idea but different code)
[code]
taken from here https://github.com/request/request/compare/master...pho3nixf1re:webpack-tests

[2016-10-26 09:32] bulicmatko commented on #1061
Hi @onweer,
You should be able to do something like this:

[code]

Don't forget to change PropType in [AppContainer.js](https://github.com/davezuko/react-redux-starter-kit/blob/master/src/containers/AppContainer.js#L7) to `PropType.array.isRequired`

Hope this helps ;)
Best Regards

[2016-10-26 11:26] onweer commented on #1061
@bulicmatko Thanks ;) .

[2016-10-26 11:59] jenyckee commented on #1019
Now my app renders but the routing is still broken. The location changes are not preventDefault and tries to access my server. What could this be?

[2016-10-26 13:59] onweer commented on #1061
@bulicmatko

[2016-10-26 14:04] onweer commented on #1061
succress with
[code]

[2016-10-26 15:26] climboid commented on #1014
Any updates on how to solve this? Getting the error on windows 7

[2016-10-27 07:23] bulicmatko commented on #1061
@onweer
Glad it helped ;)
Can maybe this issue be closed?

[2016-10-27 08:52] nickwaelkens commented on #1045
@joeyhipolito Have you already found out how to do this?

[2016-10-27 09:05] joeyhipolito commented on #1045
@nickwaelkens actually, I still haven't and already gave up on this.

[2016-10-27 16:47] brianzinn commented on #1055
I thought I was going crazy the first time I came across this!!!

It may be an issue with the DevTools, but I think it's more exposed in a design flaw of how routes are created in the starter kit.  Using Counter, here is a **not** so elegant way to address that - it would be helpful if the starter kit did this from the start as it does not look like a best practice to inject reducers every time ge

[2016-10-27 17:48] justingreenberg commented on #1055
Yes, please see https://github.com/mxstbr/react-boilerplate/pull/976

I'm in jury duty on iPad but basically check reducer key in injectReducer

[2016-10-27 17:49] justingreenberg commented on #1055
And you are very welcome 😀

[2016-10-27 18:45] brianzinn commented on #1055
thanks @justingreenberg - just posting here your fix, which goes in **/src/store/reducers.js**
[code]

[2016-10-28 21:02] mikedevita commented on #496
it doesnt work for me, the fonts dont render at all, no warnings or anything im using..

[code]

[2016-10-29 13:47] apaatsio commented on #582
I can't figure out how to get this to work with react-toolbox either. @davezuko's instructions from Feb 21 seem to be outdated.

[2016-10-30 16:09] cypherq commented on #1045
@joeyhipolito what problem you have with this?

[2016-10-30 16:28] cypherq commented on #1057
@davezuko any plans regarding this one? I can prepare PR, question is if you're interested on migrating right now?

[2016-10-30 19:13] nickwaelkens commented on #1045
I've eventually fixed this by putting a reverse proxy in front of it, routing every request from `https://localhost:3001` to `http://localhost:3000`. All I needed to create was a dummy key and cert file for the SSL to work.

[code]

[2016-10-31 20:25] jonaswindey commented on #1062
You're right. Having an error in AppContainer won't make the tests fail, which it should. Feel free to add the test. If not I'll send a PR

[2016-11-01 10:38] janoist1 opened #1065 "Environment config section should go to the end"
I had an issue with config environments not overriding default [globals](https://github.com/davezuko/react-redux-starter-kit/blob/master/config/index.js#L76) because some JSON stringifed values stuck. The solution was to move the [globals](https://github.com/davezuko/react-redux-starter-kit/blob/master/config/index.js#L76) section to the bottom.

[2016-11-01 19:06] apaatsio commented on #1020
Here's a config for getting react-toolbox to work with react-redux-starter-kit: https://github.com/apaatsio/react-redux-starter-kit/commit/8d152ee75a10b23132bc8c0796a0752b235bd237

[2016-11-01 19:08] apaatsio commented on #582
Here's a config for getting react-toolbox to work with react-redux-starter-kit: https://github.com/apaatsio/react-redux-starter-kit/commit/8d152ee75a10b23132bc8c0796a0752b235bd237

[2016-11-01 19:37] jclif opened #1066 "Update to react-router v3"

[2016-11-02 09:08] jonaswindey opened #1067 "Location store change doesn't update url"
When using redux devtools, every time the location is updated the LOCATION_CHANGE action is shown. However, when you rollback the action, the store is updated but the browser URL isn't updated.

Especially when trying to persist the store and resuming later, the router should react to changes to the store.

[2016-11-02 17:41] Sinble opened #1068 "package eslint-plugin-promise@2.0.1 does not satisfy its siblings'"
When pulling a fresh copy and doing a npm install i get the below error.
[code]

To resolve this I bumped the eslint-plugin-promise package to ^3.0.0

[2016-11-03 06:57] jonaswindey commented on #848
I've also noticed that the cpu jumps to 100% when using yarn. Remove node modules and use npm install instead.

[2016-11-03 10:12] ErwinLee10 commented on #1010
Hi, Currently I am trying to follow this #926, but kept getting error in the object spread syntax :
[code]

any idea what happened?

[2016-11-03 17:37] dtothefp commented on #328
For those stuck on this and using Chrome I made examples for Webpack1 and 2

Webpack2
https://github.com/dtothefp/karma-webpack-enzyme/blob/master/karma.conf.js#L43

Webpack1
https://github.com/dtothefp/karma-webpack-enzyme/blob/webpack1/karma.conf.js#L43

In both cases I have to add

[code]

otherwise I get errors
[code]

without `jsdom` and `cheerio` as externals I get a successful WebpackDevSer

[2016-11-03 17:45] davezuko commented on #1066
Will accept a PR for this, otherwise I will get to it when some time frees up. Thanks!

[2016-11-03 17:45] #1066 closed

[2016-11-03 17:46] davezuko commented on #1056
Been slammed (as usual); this is still on my radar but unfortunately I have not had much time to work on this project.

[2016-11-03 17:47] davezuko commented on #1058
Hey, sorry for the late reply. Hopefully this comment helps explain things: https://github.com/davezuko/react-redux-starter-kit/pull/1000#issuecomment-246711234.

[2016-11-03 17:47] #1058 closed

[2016-11-03 17:48] davezuko commented on #1042
You are correct, this is outdated. I will fix this later today.

[2016-11-03 17:48] davezuko commented on #1041
Thanks @o1dnik. Controversial decision, but I'm aiming for simplicity.

[2016-11-03 17:48] #1041 closed

[2016-11-03 17:48] davezuko commented on #1057
@cypherq I am interested, and would gladly accept a PR. I have not had much time to devote to this project, but it is definitely a worthwhile change.

[2016-11-03 17:49] davezuko commented on #1031
You make a good point, this should be added. Willing to accept a PR, otherwise I will get to it when I get back to having Free Time^TM. Closing in favor of a PR.

[2016-11-03 17:49] #1031 closed

[2016-11-03 17:52] davezuko commented on #1017
@thedrow The team I work on is currently working on a tool that supersedes this project and will contain blueprints/generators. This project was original meant to just be a simple boilerplate and less of a full dev environment/ecosystem, so I'm going to hold off on adding the blueprints back into here directly in favor of the soon-to-be-open-sourced tool.

[2016-11-03 17:52] #1017 closed

[2016-11-03 17:53] davezuko commented on #1014
Did this ever get resolved? I've been at a distance from this project for a while due to a severe lack of free time, but if it's still an issue I will take a look now that I'm back. Please just ping the issue again and we can reopen it. Thanks!

[2016-11-03 17:53] #1014 closed

[2016-11-03 17:54] davezuko commented on #1068
Fixed with https://github.com/davezuko/react-redux-starter-kit/commit/08de6a204b7b8d625c478a10d0ce1af50e490761. Thank you!

[2016-11-03 17:54] #1068 closed

[2016-11-03 17:55] davezuko commented on #1029
The missing dependency has been added in the above PR. Thanks, and sorry for the issue!

[2016-11-03 17:55] #1029 closed

[2016-11-03 17:56] davezuko commented on #1004
Merging this with: https://github.com/davezuko/react-redux-starter-kit/issues/1056. Thank you for the suggestion!

[2016-11-03 17:56] #1004 closed

[2016-11-03 17:56] davezuko commented on #984
This was added to the README a while ago, so hopefully everybody can find this resource. Thank you again!

[2016-11-03 17:57] davezuko commented on #863
This should be fixed with the above PR. Thanks!

[2016-11-03 17:57] #863 closed

[2016-11-03 17:58] davezuko commented on #1048
Unfortunately, I cannot reproduce this. If you can provide more details I'd be happy to help. Thanks!

[2016-11-03 17:58] #1048 closed

[2016-11-03 18:22] davezuko commented on #1055
Fixed with https://github.com/davezuko/react-redux-starter-kit/commit/820ca897db802979be2ce46e4d016076744145a2. Thanks @justingreenberg and @brianzinn .

[2016-11-03 18:22] #1055 closed

[2016-11-03 18:25] davezuko commented on #1057
Since it's the only open PR for it at the moment, moving discussion to https://github.com/davezuko/react-redux-starter-kit/pull/1063. Thanks!

[2016-11-03 18:25] #1057 closed

[2016-11-03 18:31] glifchits commented on #1056
No worries @davezuko! Thanks for keeping your attention to this, I really think a simpler config would take this starter kit to a new level of awesomeness.

One opinion I'll throw out there (at the risk of sounding a bit militant) is that Kyt is a new tool with its own learning curve, and I don't think that using Kyt would solve the problem of making config simpler. Probably less SLOC in the git t

[2016-11-03 23:50] AshleyAitken commented on #526
I'm getting this problem now (in November)?  I'm not an expert with npm but I have tried npm install and npm update to try to get the fixed versions of dependences.  Any suggestions most appreciated.

[2016-11-04 08:48] przeor commented on #984
Hi @davezuko

I'm looking around and I can't find it in the learning section (and in other places too):
<img width="1039" alt="screen shot 2016-11-04 at 09 47 17" src="https://cloud.githubusercontent.com/assets/5995/19999622/c4247242-a273-11e6-8468-9636986a802d.png">

[2016-11-04 13:03] davezuko commented on #984
@przeor swear I added it, maybe it was to the FAQ. Reopening until I add it.

[2016-11-05 11:45] orielz opened #1070 "Add nested route example"
Please add an example of how to implement nested route with parameters, it could be very helpful. Thanks.

[2016-11-05 18:19] therealgilles opened #1071 "Question about auth0 authentication and page redraw on callback"
Hello,

I am using auth0 to authenticate with facebook. Auth0 does a callback redirect to the login page to send back the authentication token, then there is a redirect to the dashboard.

Is there a way to avoid the page redraw when the callback redirect happens?

[2016-11-06 21:30] bhuffman opened #1072 "Error on npm start: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode"
Block-scoped declarations (let, const, function, class) not yet supported outside strict mode

Debug Log:

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'start' ]
2 info using npm@2.15.9
3 info using node@v4.6.1
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info prestart react-redux-starter-kit@3.0.0-alpha.2
6 info start react-redux-

[2016-11-07 02:26] wrabbit23 commented on #1072
I'm seeing the same.  Fresh install of node 5.12.0

[2016-11-07 09:19] przeor opened #1073 "Quick heads up about the counter reducer"
Hi Guys,

A question about the starter configuration and the non-mutable state in Redux.

Where exactly it's taken care about the below:
<img width="783" alt="screen shot 2016-11-07 at 10 16 10" src="https://cloud.githubusercontent.com/assets/5995/20052220/4b497752-a4d3-11e6-9758-b41ebf004e10.png">

...is done the "non-mutating way"? I don't see the Object.assign or spread operator.

Link do the f

[2016-11-07 11:08] junibrosas commented on #582
@apaatsio I followed your change commit and your issue and it works well, thanks!

[2016-11-07 12:32] nelsontubaina opened #1074 "do I HAVE to use the name REDUCER?! I don't understand this at all.."
so i'm trying to hack my way into learning react-redux. I already have done some systems using angular and then moved to react. but never used react-redux before. Also I find webpack to be very challenging. I really do not understand that at all. This is far far removed from the old days where I could get things done by just downloading a few js libraries. anyways...

I created a new thingy based

[2016-11-07 12:38] nelsontubaina commented on #797
I have a question:
 in these two lines here:
const TSP = require('./containers/TSPContainer').default;
const reducer = require('./modules/tsp').default;

can you change the name of the reducer? like for instance "const dinoguy = require('./modules/tsp).default" ?????

[2016-11-07 12:46] derjoker commented on #791
I don't know why, it works with @r4j4h's comment: after reinstall, the folder `vender` just shows up. It has nothing to do with node-sass version.

[2016-11-07 15:03] chrismllr commented on #797
@nelsontubaina Sure can.. In this example `reducer` passed to `injectReducer` is just a shorthand property definition. read more about it ![here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Object_initializer)

So you can do this instead...

[code]

[2016-11-07 15:51] davezuko commented on #1073
Mutation only applies when the value is something that is mutable (e.g. objects, arrays). The counter state in our example is simply a primitive (a number), and those are not mutable so there is nothing to spread. If the state was shaped like this, however:

[code]

Then you would be correct, as we would not want to mutate the state object:

[code]

Hope that helps!

[2016-11-07 15:51] #1073 closed

[2016-11-08 00:24] DillonGray commented on #1074
It sounds like `somethingelse` is undefined. Have you confirmed that `./modules/edit` has a default export defined?

[2016-11-08 18:24] bytewiz opened #1075 "Compiling issues running npm run deploy:prod"
Getting this log error when trying to run the command in the title.

And getting an insane amount of errors in the console.

[code]

[2016-11-08 18:33] davezuko commented on #1075
Does anything succeed before this? Are there any other errors you can provide? I just tried it locally (and it's also run in CI) and could not reproduce it. Will try upgrading to your specific Node version, but unfortunately cannot glean much from the above npm script log.

The most I see with purged/rebuilt dependencies are some PostCSS warnings (which warrant investigation), but nothing that blo

[2016-11-08 18:44] bytewiz commented on #1075
@davezuko All the errors I can provide from the console, appreciate it!

[log.txt](https://github.com/davezuko/react-redux-starter-kit/files/579059/log.txt)

[2016-11-08 18:46] bytewiz commented on #1075
another note, I did try to pull this on my own pc and npm install and run compile with no errors, so just wondering what happens here 😕

[2016-11-08 19:14] davezuko commented on #1075
@bytewiz looks like a CI task on Jenkins. Can you please try to run `npm rebuild` on that environment before the deploy task? Looks like a bad `node-sass` binary`.

[2016-11-08 20:01] bytewiz commented on #1075
@davezuko It is supposed to be a Jenkins job. I have now tried to run `npm rebuild` after `npm install` and then tried the `npm run deploy:prod` again but getting same massive list of errors 😖

[2016-11-08 22:51] davezuko commented on #1075
@bytewiz hmm... And you're doing this on a Linux box? Do any of the deploy tasks work, or just this one? My guess is that _all_ of them should fail if this is an environment issue w/ `node-sass`.

[2016-11-08 23:13] bytewiz commented on #1075
@davezuko I am running this on a droplet on Digitalocean an Ubuntu 16.04 and with pre-installed Node 6.9.1, then installed Nginx. and changed my Node version to v6.2.0 to match the one I am running locally.

I am only running this one task manually through ssh into the server and executing it like I would locally

[2016-11-09 00:22] SahilDude89ss commented on #1040
I didn't find the problem but if you remove the lint command from dev and prod in package.json it would work.

[2016-11-09 01:39] ramikh86 opened #1076 "Multiple components per route"
Hi, i noticed that each route exposes one component(or container). What should i do if i want to use multiple components in a route? index.js returns a container which returns one component, should that component include my sub components? isn't that too much?
Thanks

[2016-11-09 01:41] bytewiz commented on #1075
@davezuko managed to get the full error message, couldn't fit it here so had to go in a .txt file again.

Seems that something goes completely off and a lot of module references which is not found it seems.

[compile-log.txt](https://github.com/davezuko/react-redux-starter-kit/files/579775/compile-log.txt)

[2016-11-10 09:14] MichaelIT commented on #582
@apaatsio it works well with react-toolbox, but I can't import .scss file in component anymore.

[2016-11-10 09:51] bytewiz commented on #1075
@davezuko I think I found the source of this bug, apparently my system is more friendly when it comes to Case sensitivity of file names. And that is why it fails. My bad. Appreciate your help! closing this again

[2016-11-10 09:51] #1075 closed

[2016-11-11 00:33] JasonShin opened #1078 "How do I trigger build when I hit refresh on my browser?"
Hi, I have a project that uses react-redux-starter-kit and the project is quite huge. I am not a big fan of Webpack hot reloader. I feel productive when I actually hit F5 on my keyboard to see changes that I made. Webpack watch is annoying to me now because whenever I hit ctrl+s, it occasionally freezes my IDE or text editors. Since I am CTRL+S and F5 person (will always doing it in the future), i

[2016-11-11 01:02] JasonShin commented on #1078
I am open for communication. I am happy to receive any recommendations as well. If you need more information about my issue, please let me know.

[2016-11-11 02:00] JasonShin commented on #1078
I was actually using `npm start` instead of `npm run dev`. It was causing the issue =(

[2016-11-11 14:48] nicolasgarnil commented on #1072
Same here, solved it with @wrabbit23 fix

[2016-11-13 01:50] davezuko commented on #1074
You do not have to use the name reducer at all, it plays no part. As @DillonGray it sounds like a bad import. If you dig into it further and discover that that's not the issue, please post and we can reopen. Thanks!

[2016-11-13 01:50] #1074 closed

[2016-11-13 18:01] apaatsio commented on #582
@MichaelIT Please, check out https://github.com/apaatsio/react-redux-starter-kit/commit/8d5ebb3497fd5283126c505b1feb470d925d5967

I added a simple example for a component with theming.

[2016-11-13 23:02] mstijak commented on #819
If anybody is still interested, I wrote [a blog post](https://blog.codaxy.com/debugging-googlebot-crawl-errors-for-javascript-applications-5d9134c06ee7#.kojxdsnyd) on how I managed to overcome this issue.

[2016-11-14 01:15] junibrosas commented on #582
@MichaelIT

I have created a simple minimal repository with react-toolbox just days ago. No Node server installed.

https://github.com/junibrosas/react-tyescript-router-redux-toolbox

[2016-11-14 08:13] abhisheknalin opened #1079 "How to remove redux from this kit?"
Hi, I am building a simple application so I don't need redux. How can I remove it?

Changes I have made so far:
Commented out the `Provider `and `Store `from `AppContainer.js` and `Main.js`

[code]

/src/main.js

[code]

I am getting a blank screen on server start.
Do I need to do anything else?

[2016-11-14 08:59] abhisheknalin commented on #1079
ok. It started working. The issue was
`  const routes = require('./routes/index')
`
should be
`  const routes = require('./routes/index').default()
`

and some additional changes:
routes/index.js

[code]

routes/Counter/index.js

[code]

[2016-11-14 09:49] abhisheknalin commented on #1079
``

[2016-11-14 09:49] #1079 closed

[2016-11-14 18:37] bhj commented on #1076
Sure, you can use any "view" (e.g. HomeView) to return any number of other components. In React you can return multiple elements/components as long as they are _wrapped_ in a single one.

The "containers" are solely for connecting a view to the store, so that the view components need no knowledge of Redux and receive data from the store passed as normal props. Then you can pass those props down to

[2016-11-14 20:31] jhabdas commented on #819
@mstijak Thanks for the write-up. You're hitting on a very hot topic and I'm curious to know if your post takes off. A couple of pull quotes may serve you well in getting the view/read ratio climb a little.

FWIW, I popped open CX Docs in the lynx browser and compared it with what you'd see on an isomorphic app and here's the difference:

<img width="762" alt="screen shot 2016-11-14 at 2 25 24 pm"

[2016-11-14 21:45] elyobo commented on #819
For us, getting appropriate metadata in for sharing links on things like FB and Twitter was important as well and it didn't seem like they did a full load and execution of the JS to find it.  We did limited server side loading of data so that the key data was loaded, while the non-essential stuff still gets client side loaded.

[2016-11-15 06:36] kolpav opened #1080 "Can't use browser url bar for navigation"
Hello,

Does anybody else have problem with using browser url bar for navigation after deployment to production? On my local machine it works just fine. Problem is that I can only navigate through links. Link pointing to `<site>/foo` works but if I try to navigate directly to `<site>/foo` I get `404`.
My site url looks something like this for now `http://mysite.s3-website-us-west-2.amazonaws.com/`

[2016-11-15 09:38] kolpav commented on #1070
You can implement nested route exactly as [index](https://github.com/davezuko/react-redux-starter-kit/blob/master/src/routes/index.js) one. It all repeats itself as much as you want, child route can have more `childRoutes ` and so on.

Very rough example

[code]

If you have any questions feel free to ask.

[2016-11-15 12:25] bulicmatko commented on #1080
Hi @kolpav,
Are you just serving the compiled static files in some public directory?
If that is the case, you need to setup your server configuration so that every route you hit points to index.html.
That way the react router can pick it up from there.
You can do that in few ways:
- use .htaccess (if you're using Apache)
it should look something like this:
[code]

- use nginx
[code]
- use express

[2016-11-15 17:12] bdougie commented on #328
Figured it out. React Markdown was not using the a dependency called entities, which was not playing nice with webpack. I commented it out for now. And will open a PR to netlify2.0 now.

[2016-11-16 07:06] kolpav commented on #1080
That makes perfect sense and is kind of obvious how else could react know what route to render when route from which is it served is not even hit. Thank you!

I will paste here correct solution for anyone else using Amazons S3.

- Create s3 bucket, for example: react
- Create cloudfront distributions with these settings:
- Default Root Object: index.html
- Origin Domain Name: s3 bucket url, for ex

[2016-11-16 07:06] #1080 closed

[2016-11-16 14:04] zentuit commented on #1049
@simonedavico : have you solved this? I'm running into the same issue.

[2016-11-16 15:31] simonedavico commented on #1049
@zentuit in the end I decided to refactor my approach. Switching from `redux-thank` to `redux-saga` helped a lot :)

Nevertheless, it would be interesting to see more concretely how you solved it, if you are willing to share a code sample!

[2016-11-16 17:06] dark4eg opened #1081 "how to run app after run command "npm run deploy:prod" ?"
open index page in browser as static site on local file system or hosted on nginx - fact is working,
but current route render to
Please show me fix this trouble

[2016-11-16 19:50] mikedevita commented on #1081
`http-server dist/`

[2016-11-16 19:59] zentuit commented on #1049
Sure no problem:
[code]

[2016-11-16 21:39] peternoyes opened #1082 "Loading initial state from server"
I am building an application based on this kit and I cannot figure out the recommended way to load initial state from a server using a fetch call.

I have been following the advice found in this blog post: https://suspicious.website/2016/04/29/starting-out-with-react-redux-starter-kit/

Imagine if in his example the page were to load a Zen when the page is first loaded, rather than when a button i

[2016-11-17 07:00] cisen opened #1083 "Test will throw an error if i declare components as classes"
PhantomJS will  throw :`undefined is not an object (evaluating 'Component.contextTypes')`
My component is
[code]
How can i test such components or how should i modify test-bundler.js ?